Repository scipp/scipp, pull requests merged in 2019-10, with the labels that each got.

#577 Added diffraction module with loader for diffraction calibration files.
  python/src/scipp/neutron/diffraction/__init__.py
  python/src/scipp/neutron/diffraction/load.py
  python/src/scipp/neutron/exceptions.py
  python/src/scipp/neutron/load.py
Labels: neutron

#573 Index view and sort
  core/CMakeLists.txt
  core/dataset.cpp
  core/dataset_operations.cpp
  core/include/scipp/core/dataset.h
  core/include/scipp/core/dimensions.h
  core/include/scipp/core/indexed_slice_view.h
  core/include/scipp/core/sort.h
  core/include/scipp/core/variable.h
  core/rebin.cpp
  core/slice.cpp
  core/sort.cpp
  core/test/CMakeLists.txt
  core/test/indexed_slice_view_test.cpp
  core/test/sort_test.cpp
  core/variable_operations.cpp
  docs/python-reference/api.rst
  python/dataset.cpp
  python/tests/test_dataset.py
  python/variable.cpp
Labels: core

#576 In place binary operators with scalars
  core/dataset_binary_arithmetic.cpp
  core/include/scipp/core/dataset.h
  core/include/scipp/core/variable.h
  core/include/scipp/core/variable.tcc
  core/operators.h
  core/test/concatenate_test.cpp
  core/test/dataset_binary_arithmetic_test.cpp
  core/test/transform_test.cpp
  core/test/variable_operations_test.cpp
  core/variable_binary_arithmetic.cpp
  core/variable_operations.cpp
  python/bind_operators.h
  python/dataset.cpp
  python/tests/test_data_array.py
  python/tests/test_dataset.py
  python/tests/test_variable.py
  python/variable.cpp
Labels: core

#581 Rename python bindings
  core/include/scipp/core/dataset.h
  python/dataset.cpp
  python/rename.h
  python/tests/test_data_array.py
  python/tests/test_dataset.py
  python/tests/test_variable.py
  python/variable.cpp
Labels: python

#592 Non-in place binary operators with scalars
  core/dataset_binary_arithmetic.cpp
  core/include/scipp/core/dataset.h
  core/include/scipp/core/variable.h
  core/test/dataset_binary_arithmetic_test.cpp
  core/test/variable_operations_test.cpp
  core/variable_binary_arithmetic.cpp
  python/bind_operators.h
  python/tests/test_dataset.py
  python/variable.cpp
Labels: core, python

#594 Support unit conversion if there is no dense coord.
  core/dataset.cpp
  neutron/convert.cpp
  neutron/test/convert_test.cpp
Labels: bug, neutron

#587 Scalar types numpy
  conda/conda_build_config.yaml
  python/requirements.txt
  python/tests/test_variable.py
  python/variable.cpp
Labels: bug, python

#595 Add benchmarks for coord proxy generation
  benchmark/dataset_benchmark.cpp
  benchmark/legacy_dataset_benchmark.cpp
Labels: core

#597 Reduce object size in transform instantiations due to inline lambda.
  core/variable_binary_arithmetic.cpp
Labels: core

#598 Benchmark Dataset item access
  benchmark/dataset_benchmark.cpp
Labels: core

#599 Makes `import scipp as **` to be consistenly `as sc`
  python/src/scipp/plot.py
  python/src/scipp/tools.py
  python/tests/compat/mantid_test.py
  python/tests/test_datasetslice.py
  python/tests/test_dtype.py
  python/tests/test_plot.py
  python/tests/test_table.py
  python/tests/test_units.py
  python/tests/test_variable.py
  python/tests/test_variable_proxy.py
Labels: python

#589 Add support for storing Masks in a Dataset
  core/data_array.cpp
  core/dataset.cpp
  core/dataset_binary_arithmetic.cpp
  core/dataset_operations.cpp
  core/include/scipp/core/dataset.h
  core/include/scipp/core/except.h
  core/include/scipp/core/variable.h
  core/string.cpp
  core/test/concatenate_test.cpp
  core/test/data_array_comparison_test.cpp
  core/test/dataset_binary_arithmetic_test.cpp
  core/test/dataset_test.cpp
  core/test/dataset_test_common.cpp
  core/test/dataset_test_common.h
  core/test/histogram_test.cpp
  core/test/merge_test.cpp
  core/test/slice_test.cpp
  core/test/variable_operations_test.cpp
  core/variable_binary_arithmetic.cpp
  python/bind_data_access.h
  python/bind_operators.h
  python/dataset.cpp
  python/tests/test_dataset.py
  python/tests/test_variable.py
  python/variable.cpp
  units/CMakeLists.txt
  units/except.cpp
  units/include/scipp/units/except.h
  units/include/scipp/units/string.h
  units/string.cpp
Labels: core

#605 Store PyObject in scalar variables
  core/include/scipp/core/dtype.h
  core/string.cpp
  python/CMakeLists.txt
  python/bind_data_access.h
  python/tests/test_neutron_convert.py
  python/tests/test_variable_py_object.py
  python/variable.cpp
  python/variable_instantiate_py_object.cpp
Labels: python

#617 Add Python exports for counts
  core/counts.cpp
  core/include/scipp/core/counts.h
  neutron/convert.cpp
  python/CMakeLists.txt
  python/counts.cpp
  python/scipp.cpp
  python/tests/test_counts.py
Labels: python

#626 Fix plotting with labels
  docs/user-guide/plotting.ipynb
  python/src/scipp/plot/plot.py
  python/src/scipp/plot/plot_1d.py
  python/src/scipp/plot/plot_2d.py
  python/src/scipp/plot/plot_3d.py
  python/src/scipp/plot/plot_collapse.py
  python/src/scipp/plot/plot_matplotlib.py
  python/src/scipp/plot/tools.py
  python/tests/test_plot.py
Labels: bug, python

#633 Get the docs building again
  docs/getting-started/quick-start.ipynb
  docs/tutorials/introduction.ipynb
  docs/tutorials/multi-d-datasets.ipynb
  docs/user-guide/plotting.ipynb
  python/src/scipp/plot/config.py
  python/src/scipp/plot/dispatch.py
  python/src/scipp/plot/plot.py
  python/src/scipp/plot/plot_1d.py
  python/src/scipp/plot/plot_matplotlib.py
  python/src/scipp/plot/tools.py
Labels: docs, plotting, python

#628 Histogram: 6 x (1 to 20) x performance improvement
  benchmark/CMakeLists.txt
  benchmark/histogram_benchmark.cpp
  common/include/scipp/common/numeric.h
  common/test/CMakeLists.txt
  common/test/is_linspace_test.cpp
  core/dataset_operations.cpp
  core/test/dataset_test_common.h
  test/random.h
Labels: core

#635 GroupBy flatten (sparse data)
  core/dataset_operations.cpp
  core/dataset_operations_common.h
  core/groupby.cpp
  core/include/scipp/core/dataset.h
  core/include/scipp/core/groupby.h
  core/include/scipp/core/variable.h
  core/test/groupby_test.cpp
  core/variable_operations.cpp
  core/variable_operations_common.h
  python/groupby.cpp
Labels: core

#643 Plot sparse data
  docs/user-guide/plotting.ipynb
  python/src/scipp/plot/dispatch.py
  python/src/scipp/plot/plot.py
  python/src/scipp/plot/plot_1d.py
  python/src/scipp/plot/plot_2d.py
  python/src/scipp/plot/plot_3d.py
  python/src/scipp/plot/plot_collapse.py
  python/src/scipp/plot/plot_matplotlib.py
  python/src/scipp/plot/plot_sparse.py
  python/src/scipp/plot/render.py
  python/src/scipp/plot/slicer.py
  python/src/scipp/plot/sparse.py
  python/src/scipp/plot/tools.py
  python/tests/test_plot.py
Labels: plotting, python

#641 Convert promote double
  core/include/scipp/core/variable.h
  core/test/variable_operations_test.cpp
  core/test/variable_test.cpp
  core/variable_binary_arithmetic.cpp
  neutron/convert.cpp
  neutron/test/convert_test.cpp
Labels: bug, neutron

#644 Optimize groupby.flatten
  benchmark/CMakeLists.txt
  benchmark/groupby_benchmark.cpp
  common/include/scipp/common/index.h
  core/dimensions.cpp
  core/include/scipp/core/transform.h
  core/include/scipp/core/variable.h
  core/include/scipp/core/variable_view.h
  core/test/CMakeLists.txt
  core/test/dimensions_test.cpp
  core/test/sparse_counts_test.cpp
  core/variable_instantiate_basic.cpp
  core/variable_operations.cpp
  python/variable.cpp
Labels: core
