Repository scipp/scipp, pull requests merged in 2019-08, with the labels that each got.

#377 Hiding DataHandle::variance() in private.
  core/include/scipp/core/variable.h
Labels: core

#384 Sparse data subtleties
  core/dataset.cpp
  core/except.cpp
  core/include/scipp/core/dataset.h
  core/include/scipp/core/except.h
  core/test/dataset_operations_test.cpp
  python/dataset.cpp
Labels: core

#406 Implement find() for Dataset and proxies
  core/include/scipp/core/dataset.h
  core/test/dataset_test.cpp
Labels: core

#412 Python coord proxy contains
  python/dataset.cpp
  python/tests/test_dataset.py
Labels: python

#416 Fix Python lifetime issues
  python/bind_data_access.h
  python/dataset.cpp
  python/tests/test_dataset.py
  python/tests/test_lifetime.py
Labels: python

#420 DataArray and fixes for Dataset binary operations
  core/CMakeLists.txt
  core/data_array.cpp
  core/dataset.cpp
  core/except.cpp
  core/include/scipp/core/dataset.h
  core/include/scipp/core/except.h
  core/test/CMakeLists.txt
  core/test/data_array_test.cpp
  core/test/dataset_operations_test.cpp
  python/dataset.cpp
  python/tests/test_dataset.py
  python/tests/test_lifetime.py
Labels: core

#427 Dataset test cleanup, refactor, and additions
  core/dataset.cpp
  core/except.cpp
  core/include/scipp/core/dataset.h
  core/test/CMakeLists.txt
  core/test/coords_proxy_test.cpp
  core/test/data_array_comparison_test.cpp
  core/test/data_proxy_test.cpp
  core/test/dataset_binary_arithmetic_test.cpp
  core/test/dataset_comparison_test.cpp
  core/test/dataset_proxy_test.cpp
  core/test/dataset_test.cpp
  core/test/histogram_test.cpp
  core/test/slice_test.cpp
Labels: core

#422 Set a sensible scipp.__version__ attribute
  CMakeLists.txt
  python/scipp.cpp
  python/src/scipp/__init__.py
  python/tests/test_scipp.py
Labels: python

#431 Dataset merge
  core/dataset.cpp
  core/include/scipp/core/dataset.h
  core/test/CMakeLists.txt
  core/test/merge_test.cpp
  python/dataset.cpp
  python/tests/test_dataset.py
Labels: core, python

#413 Implement clear(), erase() and __delitem__ for Dataset
  core/dataset.cpp
  core/include/scipp/core/dataset.h
  core/test/dataset_test.cpp
  python/dataset.cpp
  python/tests/test_dataset.py
Labels: core, python

#463 Transform unit
  core/include/scipp/core/transform.h
  core/include/scipp/core/variable.h
  core/include/scipp/core/variable.tcc
  core/test/transform_test.cpp
  core/test/variable_operations_test.cpp
  core/test/variable_test.cpp
  core/variable.cpp
  core/variable_binary_ops.cpp
  units/include/scipp/units/unit.tcc
  units/include/scipp/units/unit_impl.h
Labels: core

#469 Strong exception guarantee for in-place binary operations with dataset
  core/dataset.cpp
  core/include/scipp/core/dataset.h
  core/include/scipp/core/transform.h
  core/include/scipp/core/variable.h
  core/include/scipp/core/visit.h
  core/operators.h
  core/test/dataset_binary_arithmetic_test.cpp
  core/test/make_sparse.h
  core/test/transform_test.cpp
  core/variable.cpp
  core/variable_binary_ops.cpp
Labels: core

#478 (Python) API additions
  core/dataset.cpp
  core/include/scipp/core/dataset.h
  python/dataset.cpp
  python/tests/test_dataset.py
  python/tests/test_variable.py
  python/units_neutron.cpp
Labels: bug, python

#477 Unit without variant and cryptic error messages
  common/include/scipp/common/traits.h
  units/dummy.cpp
  units/include/scipp/units/dummy.h
  units/include/scipp/units/neutron.h
  units/include/scipp/units/unit.tcc
  units/include/scipp/units/unit_impl.h
  units/neutron.cpp
Labels: units

#490 Added some examples on how to customize the colorbar on 2D plots
  docs/user-guide/plotting.ipynb
Labels: docs, python
