Repository scipp/scipp, pull requests merged in 2019-11, with the labels that each got.

#653 convert_with_calibration bugfix
  neutron/diffraction/convert_with_calibration.cpp
Labels: bug, neutron

#656 Performance improvements and cleanup
  benchmark/CMakeLists.txt
  benchmark/neutron_convert_benchmark.cpp
  benchmark/transform_benchmark.cpp
  core/except.cpp
  core/include/scipp/core/except.h
  core/include/scipp/core/transform.h
  core/include/scipp/core/transform_common.h
  core/operators.h
  neutron/beamline.cpp
  neutron/convert.cpp
  neutron/include/scipp/neutron/convert.h
  neutron/test/convert_test.cpp
  python/neutron.cpp
  python/variable.cpp
Labels: core, neutron

#649 Use masks in Sum and Mean operations
  benchmark/CMakeLists.txt
  benchmark/dataset_operations_benchmark.cpp
  core/dataset_operations.cpp
  core/include/scipp/core/transform.h
  core/include/scipp/core/transform_common.h
  core/include/scipp/core/variable.h
  core/operators.h
  core/test/CMakeLists.txt
  core/test/dataset_operations_test.cpp
  core/test/dataset_test_common.h
  core/variable_binary_arithmetic.cpp
  core/variable_operations.cpp
  python/tests/test_dataset.py
Labels: core

#660 A few plotting improvements
  python/src/scipp/plot/dispatch.py
  python/src/scipp/plot/plot.py
  python/src/scipp/plot/plot_2d.py
  python/src/scipp/plot/plot_3d.py
  python/src/scipp/plot/plot_matplotlib.py
  python/src/scipp/plot/plot_sparse.py
  python/src/scipp/plot/slicer.py
  python/tests/test_plot.py
Labels: plotting, python

#658 Python bindings and documentation for groupby.
  docs/index.rst
  docs/python-reference/api.rst
  docs/scipp-neutron/groupby.ipynb
  docs/user-guide/groupby.ipynb
  neutron/beamline.cpp
  neutron/include/scipp/neutron/beamline.h
  python/groupby.cpp
  python/neutron.cpp
Labels: docs, python

#659 Implements binary AND (&) and binary XOR (^) operators for Variable
  core/include/scipp/core/variable.h
  core/test/variable_operations_test.cpp
  core/variable_binary_arithmetic.cpp
  python/bind_operators.h
  python/tests/test_variable.py
  python/variable.cpp
Labels: core

#657 Replace current data container (std::vector) used by Variable
  core/groupby.cpp
  core/include/scipp/core/bool.h
  core/include/scipp/core/dataset.h
  core/include/scipp/core/dtype.h
  core/include/scipp/core/element_array.h
  core/include/scipp/core/memory_pool.h
  core/include/scipp/core/transform.h
  core/include/scipp/core/variable.h
  core/include/scipp/core/variable.tcc
  core/include/scipp/core/vector.h
  core/test/CMakeLists.txt
  core/test/bool_test.cpp
  core/test/element_array_test.cpp
  core/test/transform_test.cpp
  core/variable_instantiate_basic.cpp
  python/bind_data_access.h
  python/variable_view.cpp
Labels: core

#663 Support out-arg for sqrt.
  core/include/scipp/core/value_and_variance.h
  core/include/scipp/core/variable.h
  core/test/variable_operations_test.cpp
  core/variable_operations.cpp
  python/tests/test_variable.py
  python/variable.cpp
Labels: core, python

#667 Improves masks (Variable of bools) representation, display masks in `table` and `show`
  core/include/scipp/core/string.h
  core/string.cpp
  python/src/scipp/config.py
  python/src/scipp/show.py
  python/src/scipp/table.py
  python/tests/test_table.py
  python/tests/test_variable.py
Labels: python

#665 neutron.convert for DataArray
  core/include/scipp/core/dataset.h
  core/include/scipp/core/dataset_util.h
  neutron/convert.cpp
  neutron/diffraction/convert_with_calibration.cpp
  neutron/include/scipp/neutron/convert.h
  neutron/include/scipp/neutron/diffraction/convert_with_calibration.h
  neutron/test/convert_test.cpp
  python/neutron.cpp
Labels: neutron

#672 Reduce compile times
  CMakeLists.txt
  core/CMakeLists.txt
  core/include/scipp/core/transform.h
  core/include/scipp/core/transform_common.h
  core/include/scipp/core/variable.h
  core/variable.cpp
  core/variable_binary_arithmetic.cpp
  core/variable_logical_operations.cpp
  core/variable_type_conversion.cpp
Labels: core

#668 Support attributes for items of Dataset
  core/dataset.cpp
  core/dataset_operations_common.h
  core/include/scipp/core/dataset.h
  core/test/CMakeLists.txt
  core/test/attributes_test.cpp
  core/test/data_array_comparison_test.cpp
  core/test/data_array_test.cpp
  core/test/groupby_test.cpp
Labels: core

#674 Clean up workspaces after load
  python/src/scipp/compat/mantid.py
Labels: python

#679 Fix missing __setitem__ for DataArray from array view.
  python/bind_slice_methods.h
  python/tests/test_data_array.py
Labels: bug, dream, python

#681 Transform improvements and mixed sparse-dense transform
  common/include/scipp/common/span.h
  core/CMakeLists.txt
  core/dataset_operations.cpp
  core/histogram.cpp
  core/include/scipp/core/transform.h
  core/include/scipp/core/transform_common.h
  core/include/scipp/core/value_and_variance.h
  core/include/scipp/core/values_and_variances.h
  core/include/scipp/core/variable.h
  core/include/scipp/core/visit.h
  core/test/CMakeLists.txt
  core/test/transform_sparse_and_dense_test.cpp
  core/trigonometry.cpp
  core/variable_instantiate_view_elements.cpp
  core/variable_operations.cpp
Labels: core

#684 Sliders for plot1d
  docs/tutorials/neutron-data.ipynb
  docs/user-guide/groupby.ipynb
  docs/user-guide/plotting.ipynb
  python/src/scipp/plot/dispatch.py
  python/src/scipp/plot/plot.py
  python/src/scipp/plot/plot_1d.py
  python/src/scipp/plot/plot_2d.py
  python/src/scipp/plot/plot_3d.py
  python/src/scipp/plot/plot_collapse.py
  python/src/scipp/plot/plot_matplotlib.py
  python/src/scipp/plot/plot_sparse.py
  python/src/scipp/plot/slicer.py
  python/src/scipp/plot/tools.py
  python/tests/test_plot.py
Labels: plotting, python

#678 Read masks from Workspace2D
  python/src/scipp/compat/mantid.py
  python/tests/compat/mantid_data_helper.py
  python/tests/compat/mantid_test.py
Labels: neutron

#686 Improve clarity of Python docstrings
  python/counts.cpp
  python/dataset.cpp
  python/variable.cpp
Labels: python

#687 Keyword arg cleanup
  core/include/scipp/core/variable.h
  core/include/scipp/core/variable_keyword_arg_constructor.h
  core/test/variable_universal_contructor_test.cpp
Labels: core

#688 Improve Mantid compat tests
  python/tests/compat/test_mantid.py
Labels: python

#685 Multiplication and division between sparse data and histograms
  core/CMakeLists.txt
  core/data_array.cpp
  core/groupby.cpp
  core/histogram.cpp
  core/include/scipp/core/comparison.h
  core/include/scipp/core/histogram.h
  core/include/scipp/core/multi_index.h
  core/include/scipp/core/subspan_view.h
  core/include/scipp/core/transform.h
  core/include/scipp/core/value_and_variance.h
  core/include/scipp/core/variable.h
  core/subspan_view.cpp
  core/test/CMakeLists.txt
  core/test/data_array_test.cpp
  core/test/histogram_test.cpp
  core/test/subspan_view_test.cpp
  core/test/transform_sparse_and_dense_test.cpp
  core/test/transform_test.cpp
  core/test/value_and_variance_test.cpp
  core/variable_instantiate_view_elements.cpp
  core/variable_type_conversion.cpp
Labels: core

#689 Volume rendering
  docs/user-guide/plotting.ipynb
  python/src/scipp/plot/__init__.py
  python/src/scipp/plot/dispatch.py
  python/src/scipp/plot/plot_3d.py
  python/src/scipp/plot/slicer.py
  python/tests/test_plot.py
Labels: plotting, python

#695 Fix docs builds after plotting additions
  docs/user-guide/plotting.ipynb
Labels: docs, plotting, python

#664 Variable "keyword argument" constructor
  core/CMakeLists.txt
  core/include/scipp/core/element_array.h
  core/include/scipp/core/tag_util.h
  core/include/scipp/core/transform.h
  core/include/scipp/core/variable.h
  core/include/scipp/core/variable_keyword_arg_constructor.h
  core/string.cpp
  core/test/CMakeLists.txt
  core/test/variable_keyword_args_constructor_test.cpp
Labels: core

#690 Histogram with weights
  core/data_array.cpp
  core/histogram.cpp
  core/include/scipp/core/histogram.h
  core/include/scipp/core/transform.h
  core/include/scipp/core/transform_common.h
  core/include/scipp/core/transform_subspan.h
  core/test/data_array_test.cpp
  core/test/histogram_test.cpp
  core/variable_operations.cpp
Labels: core

#696 Load monitors from Mantid
  docs/tutorials/neutron-data.ipynb
  python/src/scipp/compat/mantid.py
  python/tests/compat/mantid_data_helper.py
  python/tests/compat/test_mantid.py
Labels: dream, python
