Repository scipp/scipp, pull requests merged in 2019-09, with the labels that each got.

#497 Small documentation improvements
  docs/getting-started/quick-start.ipynb
  docs/index.rst
  docs/python-reference/api.rst
  docs/user-guide/computation.ipynb
  docs/user-guide/data-structures.ipynb
  docs/user-guide/slicing.ipynb
  python/bind_data_access.h
  python/dataset.cpp
  python/src/scipp/show.py
  python/tests/test_variable.py
  python/units_neutron.cpp
  python/variable.cpp
Labels: docs

#498 Reading event weights from Mantid workspace
  python/src/scipp/compat/mantid.py
Labels: neutron, python

#492 Implement Dataset sum and mean
  core/CMakeLists.txt
  core/dataset.cpp
  core/dtype.cpp
  core/include/scipp/core/dataset.h
  core/include/scipp/core/dtype.h
  core/include/scipp/core/value_and_variance.h
  core/include/scipp/core/variable.h
  core/include/scipp/core/variable.tcc
  core/operators.h
  core/test/CMakeLists.txt
  core/test/dataset_binary_arithmetic_test.cpp
  core/test/dataset_test.cpp
  core/test/dataset_test_common.cpp
  core/test/dataset_test_common.h
  core/test/mean_test.cpp
  core/test/transform_test.cpp
  core/test/variable_operations_test.cpp
  core/test/variable_test.cpp
  core/variable.cpp
  core/variable_binary_ops.cpp
  neutron/convert.cpp
  neutron/include/scipp/neutron/beamline.h
  python/bind_data_access.h
  python/dataset.cpp
  python/tests/test_dataset.py
  python/tests/test_variable.py
  python/variable.cpp
Labels: core, python

#504 Concatenate
  core/dataset.cpp
  core/include/scipp/core/dataset.h
  core/include/scipp/core/except.h
  core/include/scipp/core/variable.h
  core/test/CMakeLists.txt
  core/test/concatenate_test.cpp
  core/test/except_test.cpp
  core/variable.cpp
  python/dataset.cpp
  python/tests/test_dataset.py
  python/variable.cpp
Labels: core

#505 Add missing reference to function argument.
  core/dataset.cpp
Labels: bug, core

#516 DataArray __repr__
  core/except.cpp
  core/include/scipp/core/except.h
Labels: python

#515 Set non numpy values
  python/bind_data_access.h
  python/tests/test_variable.py
  python/variable.cpp
Labels: python

#517 Add conversion from dSpacing to ToF
  neutron/convert.cpp
  neutron/test/convert_test.cpp
  test/test_macros.h
Labels: neutron

#524 Unit conversion ToF to/from Energy
  core/counts.cpp
  core/include/scipp/core/counts.h
  neutron/convert.cpp
  neutron/test/convert_test.cpp
  units/include/scipp/units/neutron.h
Labels: neutron

#530 Import neutron in scipp main python __init__
  docs/additional-modules/scipp-neutron.rst
  docs/tutorials/neutron-data.ipynb
  python/src/scipp/__init__.py
  python/tests/test_neutron_convert.py
Labels: neutron, python

#533 Use travis_wait subprocess polling
  .travis.yml
  conda/build.sh
Labels: in progress

#537 Unit conversion TOF to wavelength
  core/include/scipp/core/variable.h
  neutron/convert.cpp
  neutron/test/convert_test.cpp
  units/include/scipp/units/neutron.h
Labels: neutron

#538 Fix issue with concatenate fail when it should create 2D coord.
  core/dataset.cpp
  core/test/concatenate_test.cpp
Labels: bug

#544 Add missing docstrings
  python/dataset.cpp
  python/variable.cpp
Labels: python

#543 Improve error message when Mantid not found
  docs/getting-started/installation.rst
  python/src/scipp/compat/mantid.py
Labels: python

#548 Safer transform in place
  core/include/scipp/core/transform.h
  core/operators.h
  core/variable.cpp
Labels: bug, core

#555 Document available unit conversions
  docs/additional-modules/scipp-neutron.rst
Labels: neutron

#559 Use apply_and_drop_dim in histogram implementation
  core/dataset_operations.cpp
  core/include/scipp/core/dataset.h
  core/test/histogram_test.cpp
Labels: core

#563 First benchmarks for transform
  CMake/GoogleBenchmark.in
  benchmark/CMakeLists.txt
  benchmark/transform_benchmark.cpp
  core/include/scipp/core/dimensions.h
  core/include/scipp/core/transform.h
Labels: core

#565 Dataset/DatasetConstProxy - VariableConstProxy binary arithmetic operations
  core/dataset_binary_arithmetic.cpp
  core/include/scipp/core/dataset.h
  core/include/scipp/core/variable.h
  core/test/dataset_binary_arithmetic_test.cpp
  python/dataset.cpp
Labels: core, python

#569 Transform performance
  CMakeLists.txt
  benchmark/transform_benchmark.cpp
  core/include/scipp/core/transform.h
  core/include/scipp/core/value_and_variance.h
  core/include/scipp/core/variable_view.h
  core/include/scipp/core/view_index.h
Labels: core

#572 Support bool transform and transform_in_place
  core/include/scipp/core/transform.h
  core/include/scipp/core/variable.h
  core/test/transform_test.cpp
Labels: core
