Repository scipp/scipp, pull requests merged in 2019-07, with the labels that each got.

#294 Remaining binary operations
  core/dataset.cpp
  core/include/scipp/core/dataset.h
  core/test/dataset_operations_test.cpp
Labels: scipp-core

#322 Sparse data Python bindings
  core/except.cpp
  core/include/scipp/core/dtype.h
  core/include/scipp/core/except.h
  core/include/scipp/core/variable.h
  core/variable.cpp
  python/CMakeLists.txt
  python/bind_data_access.h
  python/scipp.cpp
  python/sparse_container.cpp
  python/tests/test_variable.py
  python/variable.cpp
  python/variable_view.cpp
Labels: python

#326 Improve exception safety guarantees for operations with Variables
  core/include/scipp/core/transform.h
  core/include/scipp/core/variable.h
  core/test/transform_test.cpp
  core/test/variable_operations_test.cpp
  core/variable.cpp
  core/variable_binary_ops.cpp
  units/include/scipp/units/neutron.h
  units/test/unit_test.cpp
Labels: core

#321 Table for new python interface
  python/CMakeLists.txt
  python/demo/demo-part1.ipynb
  python/src/scipp/plot.py
  python/src/scipp/table.py
  python/src/scipp/tools.py
  python/tests/test_table.py
Labels: python

#334 Extend documentation with code examples
  core/except.cpp
  docs/conf.py
  docs/cpp-reference/customizing.rst
  docs/getting-started/overview.rst
  docs/index.rst
  docs/user-guide/data-structures.rst
  docs/user-guide/operations.rst
  docs/user-guide/slicing.rst
  docs/user-guide/sparse-data.rst
  python/bind_data_access.h
  python/bind_math_methods.h
  python/dataset.cpp
  python/src/scipp/plot.py
  python/src/scipp/table.py
  python/src/scipp/tools.py
  python/tests/test_variable.py
  python/variable.cpp
Labels: python

#339 Use autosummary to include docstrings from Python module.
  docs/conf.py
  docs/index.rst
  docs/python-reference/api.rst
Labels: python

#338 Formating and cleanup
  core/dataset.cpp
  core/except.cpp
  core/include/scipp/core/dataset.h
  core/include/scipp/core/dtype.h
  core/include/scipp/core/except.h
  core/include/scipp/core/tag_util.h
  core/test/except_test.cpp
  core/test/variable_operations_test.cpp
  core/test/variable_test.cpp
  docs/user-guide/sparse-data.rst
  python/dataset.cpp
  python/dimensions.cpp
  python/units_neutron.cpp
  python/variable.cpp
  units/include/scipp/units/dimension.h
  units/include/scipp/units/neutron.h
  units/test/dimension_test.cpp
Labels: core, python

#345 Various fixes and missing Python bindings
  core/dataset.cpp
  core/except.cpp
  core/include/scipp/core/dataset.h
  core/include/scipp/core/except.h
  core/test/dataset_operations_test.cpp
  core/test/dataset_test.cpp
  docs/user-guide/data-structures.rst
  python/bind_data_access.h
  python/bind_math_methods.h
  python/bind_operators.h
  python/dataset.cpp
  python/tests/test_dataset.py
  python/variable.cpp
Labels: core, python

#348 Add documentation on units and dtype.
  docs/index.rst
  docs/python-reference/api.rst
  docs/user-guide/dtype.rst
  docs/user-guide/units.rst
Labels: python

#352 Test ValueAndVariance
  core/include/scipp/core/transform.h
  core/include/scipp/core/value_and_variance.h
  core/test/CMakeLists.txt
  core/test/dataset_operations_test.cpp
  core/test/value_and_variance_test.cpp
  docs/index.rst
  docs/user-guide/error-propagation.rst
  test/CMakeLists.txt
  test/test_operations.h
Labels: core

#350 Support concatenate for variables with sparse variances.
  core/include/scipp/core/transform.h
  core/test/variable_operations_test.cpp
Labels: core

#356 Unit conversion to d-spacing
  .travis/run_tests.sh
  core/dataset.cpp
  core/dimensions.cpp
  core/include/scipp/core/dataset.h
  core/include/scipp/core/dimensions.h
  core/include/scipp/core/transform.h
  core/include/scipp/core/variable.h
  core/test/transform_test.cpp
  core/test/variable_operations_test.cpp
  core/test/variable_test.cpp
  core/variable.cpp
  neutron/CMakeLists.txt
  neutron/convert.cpp
  neutron/include/scipp/neutron/convert.h
  neutron/test/CMakeLists.txt
  neutron/test/convert_test.cpp
  python/CMakeLists.txt
  python/neutron.cpp
  python/scipp.cpp
  python/tests/test_neutron_convert.py
  units/include/scipp/units/neutron.h
Labels: bug, core, neutron

#357 Units class refactor
  units/include/scipp/units/unit.tcc
  units/include/scipp/units/unit_impl.h
  units/test/unit_test.cpp
Labels: units

#360 Python improvements
  python/tests/test_variable.py
  python/variable.cpp
Labels: python

#318 Binary operator followup
  core/dataset.cpp
  core/except.cpp
  core/include/scipp/core/dataset.h
  core/include/scipp/core/except.h
  core/test/dataset_operations_test.cpp
Labels: core

#365 Small fixes and documentation improvements
  core/include/scipp/core/variable.h
  core/test/variable_operations_test.cpp
  core/variable.cpp
  docs/conf.py
  docs/getting-started/installation.rst
  docs/getting-started/overview.rst
  docs/python-reference/api.rst
  docs/user-guide/data-structures.rst
  docs/user-guide/dtype.rst
  docs/user-guide/error-propagation.rst
  docs/user-guide/operations.rst
  docs/user-guide/units.rst
  python/tests/test_units_neutron.py
  python/tests/test_variable.py
  python/units_neutron.cpp
  python/variable.cpp
Labels: core, python

#311 Ensure Coords checked as part of setData
  core/dataset.cpp
  core/test/dataset_test.cpp
Labels: core, in progress

#371 Dataset histogram
  core/dataset.cpp
  core/dimensions.cpp
  core/include/scipp/core/dataset.h
  core/include/scipp/core/dimensions.h
  core/include/scipp/core/variable.h
  core/test/dataset_operations_test.cpp
  python/dataset.cpp
  python/tests/test_dataset.py
  python/variable.cpp
Labels: core

#375 Dataset setData for DataConstProxy
  core/dataset.cpp
  core/include/scipp/core/dataset.h
  core/test/dataset_operations_test.cpp
  python/dataset.cpp
  python/tests/test_dataset.py
Labels: in progress
