Repository scipp/scipp, pull requests merged in 2019-12, with the labels that each got.

#693 Allows rebin of masks
  common/include/scipp/common/except.h
  core/dataset_operations.cpp
  core/include/scipp/core/except.h
  core/rebin.cpp
  core/test/dataset_operations_test.cpp
  core/test/rebin_test.cpp
  units/include/scipp/units/string.h
  units/string.cpp
Labels: core

#702 Groupby masks used in sum/mean
  core/groupby.cpp
  core/test/groupby_test.cpp
Labels: core

#697 Flatten without groupby
  core/dataset_operations.cpp
  core/dataset_operations_common.h
  core/include/scipp/core/dataset.h
  core/include/scipp/core/variable.h
  core/test/CMakeLists.txt
  core/test/data_array_test.cpp
  core/test/sparse_data_operations_consistency_test.cpp
  core/variable_operations.cpp
  python/CMakeLists.txt
  python/operations.cpp
  python/scipp.cpp
Labels: core

#712 Avoid copies in Python in-place operators
  core/string.cpp
  core/test/CMakeLists.txt
  core/test/string_test.cpp
  python/bind_operators.h
  python/tests/test_variable.py
Labels: bug, python

#715 Refactoring 3
  benchmark/common.h
  benchmark/dataset_benchmark.cpp
  benchmark/dataset_operations_benchmark.cpp
  benchmark/groupby_benchmark.cpp
  benchmark/histogram_benchmark.cpp
  benchmark/neutron_convert_benchmark.cpp
  benchmark/transform_benchmark.cpp
  benchmark/variable_benchmark.cpp
  core/include/scipp/core/variable_keyword_arg_constructor.h
  core/test/slice_test.cpp
  core/test/variable_keyword_args_constructor_test.cpp
  core/test/variable_operations_test.cpp
Labels: core

#711 Support a wider range of Mantid units
  python/src/scipp/compat/mantid.py
  python/tests/compat/mantid_data_helper.py
  python/tests/compat/test_mantid.py
  units/include/scipp/units/neutron.h
Labels: python

#721 Element array fix
  core/include/scipp/core/element_array.h
  core/test/element_array_test.cpp
  core/test/variable_keyword_args_constructor_test.cpp
Labels: bug, core

#718 Refactoring 6
  benchmark/dataset_operations_benchmark.cpp
  benchmark/groupby_benchmark.cpp
  benchmark/histogram_benchmark.cpp
  benchmark/neutron_convert_benchmark.cpp
  core/groupby.cpp
  core/include/scipp/core/dataset.h
  core/include/scipp/core/transform_subspan.h
  core/include/scipp/core/variable.h
  core/include/scipp/core/variable_keyword_arg_constructor.h
  core/subspan_view.cpp
  core/test/attributes_test.cpp
  core/test/comparison_test.cpp
  core/test/data_array_comparison_test.cpp
  core/test/data_array_test.cpp
  core/test/data_proxy_test.cpp
  core/test/dataset_binary_arithmetic_test.cpp
  core/test/dataset_comparison_test.cpp
  core/test/dataset_operations_test.cpp
  core/test/dataset_proxy_test.cpp
  core/test/dataset_test.cpp
  core/test/dataset_test_common.cpp
  core/test/except_test.cpp
  core/test/histogram_test.cpp
  core/test/mean_test.cpp
  core/test/merge_test.cpp
  core/test/rebin_test.cpp
  core/test/sort_test.cpp
  core/test/sparse_counts_test.cpp
  core/test/sparse_data_operations_consistency_test.cpp
  core/test/subspan_view_test.cpp
  core/test/sum_test.cpp
  core/test/transform_sparse_and_dense_test.cpp
  core/test/transform_test.cpp
  core/test/variable_keyword_args_constructor_test.cpp
  core/test/variable_operations_test.cpp
  core/test/variable_scalar_accessors_test.cpp
  core/test/variable_test.cpp
  core/variable_operations.cpp
  neutron/test/beamline_test.cpp
  neutron/test/convert_test.cpp
  python/variable.cpp
Labels: core

#726 Improve pulse time loading from Mantid
  python/src/scipp/compat/mantid.py
Labels: neutron, python

#720 Wrap py::object to provide deep copy and deep comparison
  CMake/pybind11.in
  core/include/scipp/core/dtype.h
  docs/user-guide/how_to.ipynb
  python/bind_data_access.h
  python/bind_operators.h
  python/dataset.cpp
  python/py_object.h
  python/tests/test_variable_py_object.py
  python/variable.cpp
  python/variable_instantiate_py_object.cpp
Labels: bug, python

#722 Replace plotly with matplotlib
  Dockerfile
  binder/environment.yml
  docs/conf.py
  docs/environment.yml
  docs/getting-started/quick-start.ipynb
  docs/scipp-neutron/groupby.ipynb
  docs/tutorials/introduction.ipynb
  docs/tutorials/multi-d-datasets.ipynb
  docs/user-guide/groupby.ipynb
  docs/user-guide/plotting.ipynb
  python/requirements.txt
  python/src/scipp/config.py
  python/src/scipp/plot/__init__.py
  python/src/scipp/plot/dispatch.py
  python/src/scipp/plot/plot.py
  python/src/scipp/plot/plot_1d.py
  python/src/scipp/plot/plot_2d.py
  python/src/scipp/plot/plot_3d.py
  python/src/scipp/plot/plot_collapse.py
  python/src/scipp/plot/plot_matplotlib.py
  python/src/scipp/plot/plot_sparse.py
  python/src/scipp/plot/render.py
  python/src/scipp/plot/sciplot.py
  python/src/scipp/plot/slicer.py
  python/src/scipp/plot/tools.py
  python/tests/test_plot.py
Labels: python, visualization

#731 Fixes and improvements for scipp.show
  python/src/scipp/__init__.py
  python/src/scipp/show.py
  python/tests/test_show.py
Labels: bug, python

#736 Split cpp which took nearly 5 min to compile
  core/CMakeLists.txt
  core/include/scipp/core/transform_common.h
  core/variable_binary_arithmetic.cpp
  core/variable_inplace_arithmetic.cpp
Labels: core

#739 Automatic renaming createVariable to makeVariable
  benchmark/common.h
  benchmark/dataset_benchmark.cpp
  benchmark/dataset_operations_benchmark.cpp
  benchmark/groupby_benchmark.cpp
  benchmark/histogram_benchmark.cpp
  benchmark/neutron_convert_benchmark.cpp
  benchmark/transform_benchmark.cpp
  benchmark/variable_benchmark.cpp
  core/groupby.cpp
  core/include/scipp/core/dataset.h
  core/include/scipp/core/transform.h
  core/include/scipp/core/transform_subspan.h
  core/include/scipp/core/variable.h
  core/subspan_view.cpp
  core/test/attributes_test.cpp
  core/test/comparison_test.cpp
  core/test/concatenate_test.cpp
  core/test/coords_proxy_test.cpp
  core/test/counts_test.cpp
  core/test/data_array_comparison_test.cpp
  core/test/data_array_test.cpp
  core/test/data_proxy_test.cpp
  core/test/dataset_binary_arithmetic_test.cpp
  core/test/dataset_comparison_test.cpp
  core/test/dataset_operations_test.cpp
  core/test/dataset_proxy_test.cpp
  core/test/dataset_test.cpp
  core/test/dataset_test_common.cpp
  core/test/dataset_test_common.h
  core/test/except_test.cpp
  core/test/groupby_test.cpp
  core/test/histogram_test.cpp
  core/test/indexed_slice_view_test.cpp
  core/test/make_sparse.h
  core/test/mean_test.cpp
  core/test/merge_test.cpp
  core/test/rebin_test.cpp
  core/test/slice_test.cpp
  core/test/sort_test.cpp
  core/test/sparse_counts_test.cpp
  core/test/sparse_data_operations_consistency_test.cpp
  core/test/subspan_view_test.cpp
  core/test/sum_test.cpp
  core/test/transform_sparse_and_dense_test.cpp
  core/test/transform_test.cpp
  core/test/variable_keyword_args_constructor_test.cpp
  core/test/variable_operations_test.cpp
  core/test/variable_scalar_accessors_test.cpp
  core/test/variable_test.cpp
  core/test/variable_trigonometry_test.cpp
  core/trigonometry.cpp
  core/variable_operations.cpp
  neutron/test/beamline_test.cpp
  neutron/test/convert_test.cpp
  python/variable.cpp
Labels: core

#738 Keyword constructor doc
  docs/cpp-reference/constructing_variables.rst
  docs/index.rst
Labels: docs

#742 Extract introductory plotting docs to overview page
  docs/about/release-notes.rst
  docs/index.rst
  docs/user-guide/computation.ipynb
  docs/user-guide/data-structures.ipynb
  docs/visualization/plotting-in-depth.ipynb
  docs/visualization/plotting-overview.ipynb
Labels: docs

#743 Implements to_html for Dataset
  core/dataset.cpp
  python/bind_data_access.h
  python/src/scipp/__init__.py
  python/src/scipp/table_html/__init__.py
  python/src/scipp/table_html/formatting_html.py
  python/src/scipp/table_html/icons-svg-inline.html
  python/src/scipp/table_html/style.css
Labels: python, visualization

#740 Move std::visit code into cpp, shrinking various objects by 150kB.
  core/include/scipp/core/variable.h
  core/variable.cpp
Labels: core

#749 Fix exception and lifetime issues with values and variances properties.
  python/bind_data_access.h
  python/tests/test_lifetime.py
  python/tests/test_variable_scalar.py
Labels: bug, python

#751 to_html for variables and data arrays
  python/src/scipp/table_html/__init__.py
  python/src/scipp/table_html/formatting_html.py
Labels: visualization

#750 Return none in dtype and unit for sparse array w/o data.
  python/bind_data_access.h
  python/src/scipp/table_html/formatting_html.py
Labels: bug, visualization

#752 to_html improvements
  python/src/scipp/table_html/formatting_html.py
  python/src/scipp/table_html/style.css
Labels: visualization

#754 to_html sparse ellipsis and improved formatting
  python/bind_data_access.h
  python/src/scipp/table_html/formatting_html.py
Labels: visualization

#763 Plotting masks (and various other updates to styling plots)
  core/groupby.cpp
  core/include/scipp/core/variable.h
  core/variable_operations.cpp
  docs/index.rst
  docs/tutorials/multi-d-datasets.ipynb
  docs/visualization/customizing-figures.ipynb
  docs/visualization/plotting-in-depth.ipynb
  docs/visualization/plotting-overview.ipynb
  python/dataset.cpp
  python/src/scipp/config.py
  python/src/scipp/plot/dispatch.py
  python/src/scipp/plot/plot.py
  python/src/scipp/plot/plot_1d.py
  python/src/scipp/plot/plot_2d.py
  python/src/scipp/plot/plot_3d.py
  python/src/scipp/plot/plot_collapse.py
  python/src/scipp/plot/plot_sparse.py
  python/src/scipp/plot/slicer.py
  python/src/scipp/plot/tools.py
  python/tests/test_plot.py
Labels: python, visualization

#761 Fix to_html for 1-D variable with just sparse dim.
  python/src/scipp/table_html/formatting_html.py
Labels: bug, visualization

#755 _repr_html_
  docs/getting-started/quick-start.ipynb
  docs/tutorials/introduction.ipynb
  docs/tutorials/multi-d-datasets.ipynb
  docs/user-guide/data-structures.ipynb
  docs/user-guide/slicing.ipynb
  python/src/scipp/__init__.py
  python/src/scipp/table_html/__init__.py
  python/src/scipp/table_html/formatting_html.py
Labels: visualization

#764 Plot bare variables
  python/src/scipp/plot/plot.py
  python/src/scipp/plot/slicer.py
  python/tests/test_plot.py
Labels: python, visualization

#766 Fix segfault when copying Variable containing PyObject
  core/include/scipp/core/dataset.h
  core/test/attributes_test.cpp
  core/variable.cpp
  python/CMakeLists.txt
  python/bind_operators.h
  python/py_object.cpp
  python/py_object.h
Labels: bug, python

#767 Remove Variance column, display them on new row
  python/src/scipp/table_html/formatting_html.py
  python/src/scipp/table_html/style.css
Labels: python, visualization

#774 to_html tuning
  python/src/scipp/table_html/formatting_html.py
Labels: visualization

#770 Avoid slicing content of 0-D variables in to_html preview line.
  python/src/scipp/table_html/formatting_html.py
Labels: bug, visualization

#773 Catching warnings from setting invalid axis limits when plotting with log axes
  python/src/scipp/plot/plot_1d.py
  python/src/scipp/plot/plot_2d.py
Labels: python, visualization

#779 Show inline attributes as a table
  python/src/scipp/table_html/formatting_html.py
  python/src/scipp/table_html/style.css
Labels: python, visualization

#780 to_html nested section enhancements
  python/src/scipp/compat/mantid.py
  python/src/scipp/table_html/formatting_html.py
  python/src/scipp/table_html/style.css
Labels: visualization

#772 Test GIL acquire in scipp::python::PyObject
  python/dataset.cpp
  python/py_object.cpp
  python/py_object.h
  python/tests/test_variable_py_object.py
  python/variable.cpp
Labels: python

#781 Rename dtype float/double to float32/float64.
  core/string.cpp
  docs/python-reference/dtype.ipynb
  docs/user-guide/data-structures.ipynb
  python/src/scipp/compat/mantid.py
  python/tests/test_neutron_convert.py
  python/tests/test_variable.py
Labels: python

#777 Avoid copies in plot
  python/src/scipp/config.py
  python/src/scipp/plot/dispatch.py
  python/src/scipp/plot/plot.py
  python/src/scipp/plot/plot_1d.py
  python/src/scipp/plot/plot_2d.py
  python/src/scipp/plot/plot_3d.py
  python/src/scipp/plot/plot_collapse.py
  python/src/scipp/plot/plot_sparse.py
  python/src/scipp/plot/slicer.py
  python/src/scipp/plot/sparse.py
  python/src/scipp/plot/tools.py
  python/src/scipp/table.py
  python/src/scipp/utils.py
  python/tests/test_plot.py
Labels: python, visualization

#783 Plot data with vector3d or string coords
  python/src/scipp/plot/plot_1d.py
  python/src/scipp/plot/plot_2d.py
  python/src/scipp/plot/slicer.py
  python/src/scipp/plot/tools.py
  python/tests/test_plot.py
Labels: dream, python, visualization

#778 to_html show bin edge label on dims
  python/src/scipp/table_html/formatting_html.py
Labels: python, visualization

#786 Only convert to string the ticklabels that are needed for the plot
  python/src/scipp/plot/slicer.py
Labels: visualization

#785 Neutron docs and monitor handling
  core/include/scipp/core/dataset.h
  docs/scipp-neutron/overview.rst
  docs/tutorials/neutron-data.ipynb
  neutron/beamline.cpp
  neutron/convert.cpp
  neutron/include/scipp/neutron/beamline.h
  neutron/test/beamline_test.cpp
  neutron/test/convert_test.cpp
  python/neutron.cpp
  python/src/scipp/compat/mantid.py
  python/src/scipp/neutron/__init__.py
  python/tests/test_neutron_convert.py
  python/tests/test_variable.py
  python/variable.cpp
  python/variable_view.cpp
Labels: neutron

#789 Add briefer neutron tutorial.
  core/histogram.cpp
  docs/index.rst
  docs/scipp-neutron/from-mantid-to-scipp.ipynb
  docs/tutorials/neutron-diffraction.ipynb
Labels: docs

#790 Variable and DataArray formatting
  python/src/scipp/table_html/__init__.py
  python/src/scipp/table_html/formatting_html.py
  python/src/scipp/table_html/style.css
Labels: python, visualization

#791 Fix order for correct short-circuit evaluation.
  core/groupby.cpp
Labels: bug, core

#792 Fix from_mantid
  docs/scipp-neutron/overview.rst
  python/src/scipp/compat/mantid.py
Labels: bug, neutron
