Repository scipp/scipp, pull requests merged in 2019-06, with the labels that each got.

#271 Configurable counts unit and re-enabled counts code
  core/CMakeLists.txt
  core/counts.cpp
  core/dataset.cpp
  core/dataset.h
  core/except.h
  core/include/scipp/core/counts.h
  core/test/CMakeLists.txt
  core/test/counts_test.cpp
  core/variable.cpp
  docs/conf.py
  docs/customizing.rst
  docs/index.rst
  units/dummy.cpp
  units/include/scipp/units/boost_units_util.h
  units/include/scipp/units/dummy.h
  units/include/scipp/units/neutron.h
  units/include/scipp/units/unit.tcc
  units/include/scipp/units/unit_impl.h
  units/neutron.cpp
  units/test/unit_test.cpp
  units/unit_impl.h
Labels: scipp-core, scipp-units

#280 Start adding Sphinx documentation.
  docs/data-structures.rst
  docs/index.rst
  docs/installation.rst
  docs/slicing.rst
Labels: scipp-core

#275 In-place transform for sparse data with variances
  core/except.h
  core/test/transform_test.cpp
  core/transform.h
  core/variable.cpp
  core/variable.h
  core/visit.h
  test/test_macros.h
Labels: scipp-core

#260 Using a simpler ViewIndex instead of MultiIndex in VariableView
  benchmark/CMakeLists.txt
  benchmark/variable_view_benchmark.cpp
  core/CMakeLists.txt
  core/dimensions.cpp
  core/dimensions.h
  core/test/CMakeLists.txt
  core/test/view_index_test.cpp
  core/variable_view.h
  core/view_index.h
Labels: scipp-core

#281 Non-in-place transform and binary operations
  core/dimensions.cpp
  core/dimensions.h
  core/test/dimensions_test.cpp
  core/test/transform_test.cpp
  core/test/variable_operations_test.cpp
  core/transform.h
  core/variable.cpp
  core/variable.h
Labels: scipp-core

#284 VariableView tests and fixes
  CMakeLists.txt
  core/CMakeLists.txt
  core/test/variable_view_test.cpp
  core/variable_view.h
  core/view_index.cpp
  core/view_index.h
Labels: scipp-core

#285 Variable test cleanup
  core/counts.cpp
  core/dataset.h
  core/except.h
  core/test/transform_test.cpp
  core/test/variable_operations_test.cpp
  core/test/variable_test.cpp
  core/variable.cpp
  core/variable.h
Labels: scipp-core

#286 Transform tests and small cleanup
  core/CMakeLists.txt
  core/include/scipp/core/transform.h
  core/test/transform_test.cpp
  core/variable.cpp
  core/variable_binary_ops.cpp
Labels: scipp-core

#292 Fix clang warnings.
  core/test/variable_view_test.cpp
  core/variable.cpp
  core/variable_binary_ops.cpp
Labels: scipp-core

#299 Add config for empty pip and conda packages
  scippy/conda/meta.yaml
  scippy/setup.py
Labels: scippy

#291 Expose values and variances properties as numpy.ndarray-like objects
  scippy/bind_data_access.h
  scippy/bind_slice_methods.h
  scippy/tests/test_variable.py
  scippy/tests/test_variable_proxy.py
  scippy/variable.cpp
Labels: scippy
