Repository scipp/scipp, pull requests merged in 2020-04, with the labels that each got.

#1043 Speed up geometry conversions in mantid.py
  python/src/scipp/compat/mantid.py
Labels: bug

#1045 Developer/User docs for Spherical Coord Averaging
  docs/scipp-neutron/from-mantid-to-scipp.ipynb
Labels: docs

#1046 Avoid need for instantiating event_list code for unsupported types
  core/include/scipp/core/tag_util.h
  core/include/scipp/core/variable.h
  core/variable_instantiate_basic.cpp
Labels: core

#1050 Disable option to have integers with variances
  core/include/scipp/core/variable.h
  core/test/groupby_test.cpp
  core/test/sort_test.cpp
  core/test/variable_keyword_args_constructor_test.cpp
  core/test/variable_test.cpp
  python/tests/test_dataset.py
  python/tests/test_variable_scalar.py
Labels: core

#1040 Filtering for event data
  benchmark/CMakeLists.txt
  benchmark/event_filter_benchmark.cpp
  benchmark/sparse_histogram_op_benchmark.cpp
  core/data_array.cpp
  core/dataset.cpp
  core/event.cpp
  core/histogram.cpp
  core/include/scipp/core/dataset.h
  core/include/scipp/core/dtype.h
  core/include/scipp/core/event.h
  core/include/scipp/core/unaligned.h
  core/include/scipp/core/variable.h
  core/subspan_view.cpp
  core/test/CMakeLists.txt
  core/test/data_array_test.cpp
  core/test/dataset_test.cpp
  core/test/event_test.cpp
  core/test/histogram_test.cpp
  core/test/reduce_various_test.cpp
  core/test/sparse_counts_test.cpp
  core/test/unaligned_test.cpp
  core/unaligned.cpp
  core/variable_instantiate_view_elements.cpp
  core/variable_operations_common.h
  core/variable_reduction_operations.cpp
  docs/user-guide/unaligned-data.ipynb
  python/dataset.cpp
  python/tests/test_filter.py
  units/dim.cpp
  units/include/scipp/units/dim.h
  units/include/scipp/units/neutron.h
Labels: core

#1051 Move operation declarations out of Variable header
  core/CMakeLists.txt
  core/counts.cpp
  core/data_array.cpp
  core/dataset_operations.cpp
  core/event.cpp
  core/groupby.cpp
  core/include/scipp/core/indexed_slice_view.h
  core/include/scipp/core/transform_subspan.h
  core/include/scipp/core/variable.h
  core/include/scipp/core/variable_binary_arithmetic.h
  core/include/scipp/core/variable_logical.h
  core/include/scipp/core/variable_misc_operations.h
  core/include/scipp/core/variable_operations.h
  core/include/scipp/core/variable_reduction.h
  core/include/scipp/core/variable_trigonometry.h
  core/rebin.cpp
  core/test/data_array_comparison_test.cpp
  core/test/data_array_test.cpp
  core/test/dataset_binary_arithmetic_test.cpp
  core/test/dataset_test.cpp
  core/test/dataset_test_common.cpp
  core/test/groupby_test.cpp
  core/test/mean_test.cpp
  core/test/rebin_test.cpp
  core/test/reduce_logical_test.cpp
  core/test/reduce_sparse_test.cpp
  core/test/reduce_various_test.cpp
  core/test/transform_test.cpp
  core/test/unaligned_test.cpp
  core/test/variable_operations_test.cpp
  core/test/variable_test.cpp
  core/test/variable_trigonometry_test.cpp
  core/unaligned.cpp
  core/variable_logical.cpp
  core/variable_operations.cpp
  core/variable_reduction.cpp
  core/variable_trigonometry.cpp
  neutron/beamline.cpp
  neutron/convert.cpp
  neutron/diffraction/convert_with_calibration.cpp
  neutron/test/beamline_test.cpp
  neutron/test/convert_test.cpp
  python/operations.cpp
  python/units_neutron.cpp
  python/variable.cpp
Labels: core

#1053 Removed leading edge of 1d histogram plots
  python/src/scipp/plot/plot_1d.py
Labels: visualization

#1052 Dataset slicing fix
  python/bind_slice_methods.h
  python/tests/test_dataset_slice.py
Labels: bug, core

#1055 Remove test skip for Run and Sample `__eq__`
  python/tests/compat/test_mantid.py
Labels: neutron

#1056 Formatting of types that are not known to the module defining Variable
  core/include/scipp/core/string.h
  core/string.cpp
  dataset/test/string_test.cpp
  dataset/variable_instantiate_dataset.cpp
Labels: bug, core

#1048 Event filter based on sample logs
  common/test/is_linspace_test.cpp
  core/element_event_operations.h
  core/event.cpp
  core/include/scipp/core/dtype.h
  core/include/scipp/core/histogram.h
  core/include/scipp/core/transform.h
  core/include/scipp/core/value_and_variance.h
  core/include/scipp/core/variable.h
  core/test/CMakeLists.txt
  core/test/element_event_operations_test.cpp
  dataset/data_array.cpp
  dataset/event.cpp
  dataset/groupby.cpp
  dataset/histogram.cpp
  dataset/include/scipp/dataset/event.h
  dataset/include/scipp/dataset/histogram.h
  dataset/test/data_array_test.cpp
  dataset/test/histogram_test.cpp
  docs/event-data/filtering.ipynb
  docs/event-data/overview.ipynb
  docs/index.rst
  python/dataset.cpp
  python/src/scipp/neutron/__init__.py
Labels: core

#1049 Full geometry instrument view
  core/element_geometric_operations.h
  core/include/scipp/core/dtype.h
  core/include/scipp/core/string.h
  core/include/scipp/core/variable.h
  core/include/scipp/core/variable.tcc
  core/include/scipp/core/variable_misc_operations.h
  core/string.cpp
  core/test/element_geometric_operations_test.cpp
  core/test/variable_operations_test.cpp
  core/test/variable_test.cpp
  core/variable_instantiate_basic.cpp
  core/variable_operations.cpp
  python/CMakeLists.txt
  python/bind_data_access.h
  python/eigen.cpp
  python/element_array_view.cpp
  python/scipp.cpp
  python/src/scipp/compat/mantid.py
  python/src/scipp/neutron/instrument_view.py
  python/tests/plot/test_plot.py
  python/tests/table_html/test_to_html_dataarray.py
  python/tests/test_eigen.py
  python/tests/test_variable.py
  python/variable.cpp
Labels: neutron, visualization

#1062 Reduce overall compile time by ~10% - variable.h
  common/include/scipp/common/index.h
  core/CMakeLists.txt
  core/include/scipp/core/variable.h
  core/include/scipp/core/variable_concept.h
  core/variable.cpp
  core/variable_concept.cpp
Labels: core

#1060 Variable constructor related header cleanup
  core/include/scipp/core/dtype.h
  core/include/scipp/core/variable.h
  core/include/scipp/core/variable.tcc
  core/include/scipp/core/variable_keyword_arg_constructor.h
  core/test/variable_test.cpp
  core/variable.cpp
Labels: core

#1063 Decomplicate VariableConceptHandle
  benchmark/CMakeLists.txt
  benchmark/common.h
  benchmark/dataset_benchmark.cpp
  benchmark/dataset_operations_benchmark.cpp
  benchmark/event_filter_benchmark.cpp
  benchmark/groupby_benchmark.cpp
  benchmark/histogram_benchmark.cpp
  benchmark/neutron_convert_benchmark.cpp
  benchmark/slice_benchmark.cpp
  benchmark/sparse_histogram_op_benchmark.cpp
  benchmark/variable_benchmark.cpp
  benchmark/variable_common.h
  core/include/scipp/core/apply.h
  core/include/scipp/core/dtype.h
  core/include/scipp/core/transform.h
  core/include/scipp/core/variable.h
  core/include/scipp/core/variable_concept.h
  core/include/scipp/core/visit.h
  core/rebin.cpp
  core/string.cpp
  core/variable_concept.cpp
  docs/developer/customizing.rst
Labels: core

#1067 Test failure for converting fit output workspaces
  python/src/scipp/compat/mantid.py
Labels: bug, neutron

#1066 Build neutron notebooks in docs
  .azure-pipelines/templates/documentation_build.yml
  docs/_templates/layout.html
  docs/data/fetch_neutron_data.py
  docs/environment.yml
  docs/images/neutron/instrument_view_3d.png
  docs/images/neutron/instrument_view_CNCS.png
  docs/images/neutron/instrument_view_GEM.png
  docs/images/neutron/instrument_view_cyl.png
  docs/images/neutron/instrument_view_sphe.png
  docs/images/plotting/sliders4d.png
  docs/images/plotting/sliders4dv2.png
  docs/images/plotting/sparse3d.png
  docs/images/plotting/superplot_widgets.png
  docs/images/plotting/threeslice.png
  docs/index.rst
  docs/scipp-neutron/groupby.ipynb
  docs/scipp-neutron/instrument-view.ipynb
  docs/tutorials/neutron-data.ipynb
  docs/tutorials/neutron-diffraction.ipynb
  docs/visualization/plotting-1d-data.ipynb
  docs/visualization/plotting-2d-data.ipynb
  docs/visualization/plotting-in-depth.ipynb
  docs/visualization/plotting-nd-data.ipynb
  python/src/scipp/plot/__init__.py
Labels: docs

#1076 Remove doctree files from docs
  .azure-pipelines/templates/documentation_build.yml
  docs/data/fetch_neutron_data.py
  docs/scipp-neutron/groupby.ipynb
  docs/scipp-neutron/instrument-view.ipynb
  docs/tutorials/neutron-diffraction.ipynb
Labels: docs

#1080 Auto histo event data in plot
  docs/event-data/filtering.ipynb
  docs/event-data/overview.ipynb
  docs/tutorials/neutron-diffraction.ipynb
  docs/user-guide/unaligned-data.ipynb
  docs/visualization/plotting-1d-data.ipynb
  python/src/scipp/plot/plot_1d.py
  python/src/scipp/plot/plot_2d.py
  python/src/scipp/plot/slicer.py
  python/src/scipp/plot/tools.py
  python/src/scipp/runtime_config.py
  python/tests/neutron/test_neutron.py
  python/tests/plot/plot_helper.py
  python/tests/plot/test_plot.py
  python/tests/plot/test_plot_1d.py
  python/tests/plot/test_plot_2d.py
  python/tests/plot/test_plot_nd.py
  python/variable.cpp
Labels: visualization

#1077 Refactor dataset_test.py
  python/tests/test_data_array.py
  python/tests/test_dataset.py
  python/tests/test_variable_view.py
Labels: tests

#1090 Fix typos in docs
  docs/event-data/overview.ipynb
  docs/user-guide/unaligned-data.ipynb
Labels: docs

#1089 Print expected and user requested extents in mismatch excpt.
  core/except.cpp
  core/include/scipp/core/except.h
  dataset/dataset.cpp
  dataset/test/dataset_test.cpp
  docs/developer/getting-started.rst
  variable/test/variable_scalar_accessors_test.cpp
  variable/test/variable_test.cpp
Labels: core

#1098 Add documentation on implementation of Variable
  docs/developer/transform.rst
  docs/developer/variable_implementation.rst
  docs/images/variable_classes.dia
  docs/images/variable_classes.svg
  docs/index.rst
Labels: docs

#1104 Move to clang-format 10
  .azure-pipelines/templates/code_quality_checks.yml
  benchmark/legacy_cow_ptr.h
  benchmark/transform_benchmark.cpp
  common/include/scipp/common/overloaded.h
  core/include/scipp/core/element/unary_operations.h
  core/include/scipp/core/except.h
  core/include/scipp/core/value_and_variance.h
  dataset/dataset.cpp
  dataset/include/scipp/dataset/dataset.h
  dataset/include/scipp/dataset/except.h
  dataset/operations.cpp
  docs/developer/tooling.rst
  neutron/test/Workspace2D_test.cpp
  python/bind_data_access.h
  python/bind_operators.h
  python/counts.cpp
  python/dataset.cpp
  python/detail.cpp
  python/eigen.cpp
  python/neutron.cpp
  python/variable.cpp
  units/include/scipp/units/except.h
  variable/include/scipp/variable/except.h
  variable/include/scipp/variable/transform.h
  variable/include/scipp/variable/variable_keyword_arg_constructor.h
  variable/variable_concept.cpp
Labels: CI
