Repository scipp/scipp, pull requests merged in 2020-08, with the labels that each got.

#1259 Add ADR about removing ds.masks()
  docs/developer/ADRs/0001-remove-dataset-masking0support.rst
  docs/developer/architecture-decision-records.rst
  docs/index.rst
Labels: docs

#1257 Dynamic image resampling and plotting 2D coordinates
  python/bind_slice_methods.h
  python/src/scipp/_utils/events.py
  python/src/scipp/plot/plot_1d.py
  python/src/scipp/plot/plot_2d.py
  python/src/scipp/plot/plot_3d.py
  python/src/scipp/plot/slicer.py
  python/src/scipp/plot/tools.py
  python/tests/plot/test_plot_2d.py
  python/tests/plot/test_plot_nd.py
Labels: LoKI, visualization

#1272 Python wrappers to avoid duplicate docstrings and support better out args
  python/comparison.cpp
  python/reduction.cpp
  python/src/scipp/__init__.py
  python/src/scipp/_comparison.py
  python/src/scipp/_cpp_wrapper_util.py
  python/src/scipp/_math.py
  python/src/scipp/_reduction.py
  python/src/scipp/_trigonometry.py
  python/tests/test_variable.py
  python/trigonometry.cpp
  python/unary.cpp
Labels: docs, enhancement, python

#1275 Add ADR on removing 2D projections from instrument view
  docs/developer/adr/0001-remove-dataset-masking-support.rst
  docs/developer/adr/0002-remove-instrument-view-projection-options.rst
  docs/developer/architecture-decision-records.rst
Labels: docs

#1271 Various plotting fixes
  core/include/scipp/core/element/comparison.h
  core/include/scipp/core/element/rebin.h
  core/include/scipp/core/element/util.h
  core/test/element_util_test.cpp
  docs/python-reference/api.rst
  python/src/scipp/plot/plot_2d.py
  python/src/scipp/plot/slicer.py
  python/src/scipp/plot/tools.py
  python/tests/plot/test_plot_2d.py
  python/variable.cpp
  variable/include/scipp/variable/util.h
  variable/rebin.cpp
  variable/test/rebin_test.cpp
  variable/util.cpp
Labels: LoKI, visualization

#1268 Check for self assign from numpy and copy
  python/numpy.h
  python/tests/test_numpy.py
Labels: bug, python

#1274 Add missing keep_alive for functions with out args
  python/reduction.cpp
  python/tests/test_lifetime.py
  python/trigonometry.cpp
  python/unary.cpp
Labels: bug, python

#1276 Update 2D plotting page with new collapse syntax
  docs/visualization/plotting-2d-data.ipynb
  python/src/scipp/plot/dispatch.py
  python/tests/plot/test_plot_1d.py
Labels: bug, docs

#1277 Up to 30x speedup for 2D plotting
  python/src/scipp/plot/plot_2d.py
  variable/rebin.cpp
  variable/test/rebin_test.cpp
Labels: visualization

#1280 Extend HDF5 I/O support
  python/bind_data_access.h
  python/element_array_view.cpp
  python/src/scipp/__init__.py
  python/src/scipp/io/hdf5.py
  python/tests/io/test_hdf5.py
Labels: enhancement, python

#1298 Temporarily disable Windows CI due to error C1001 with MSVC 19.27.29111.0
  .azure-pipelines/master.yml
  .azure-pipelines/pull_request.yml
Labels: CI

#1295 Prevent surprising results from 'var1 and var2' by raising in __bool__
  docs/developer/concepts.ipynb
  python/bind_operators.h
  python/dataset.cpp
  python/src/scipp/table_html/formatting_html.py
  python/tests/compat/test_dict.py
  python/tests/test_common.py
  python/tests/test_dataset.py
  python/tests/test_lifetime.py
  python/tests/test_variable.py
  python/tests/test_variable_view.py
  python/variable.cpp
Labels: bug, python
