Repository scipp/scipp, pull requests merged in 2020-02, with the labels that each got.

#929 Add astype for DataArray and DataProxy
  core/data_array.cpp
  core/include/scipp/core/dataset.h
  core/test/data_array_test.cpp
  python/dataset.cpp
  python/tests/test_data_array.py
Labels: core, python

#938 Fix some Workspace "leaks" in Mantid compat layer
  python/src/scipp/compat/mantid.py
  python/src/scipp/neutron/diffraction/load.py
  python/src/scipp/neutron/exceptions.py
  python/tests/compat/test_mantid.py
Labels: bug, neutron, python

#930 Run and Sample extract for Mantid Compatibility
  python/tests/compat/test_mantid.py
Labels: neutron

#941 Improve includes to decrease object recompilations
  core/CMakeLists.txt
  core/dataset_operations.cpp
  core/dataset_operations_common.h
  core/include/scipp/core/dataset.h
  core/include/scipp/core/except.h
  core/include/scipp/core/proxy_decl.h
  core/include/scipp/core/string.h
  core/include/scipp/core/value_and_variance.h
  core/include/scipp/core/variable.h
  core/include/scipp/core/variable.tcc
  core/include/scipp/core/variable_keyword_arg_constructor.h
  core/include/scipp/core/variable_view.h
  core/subspan_view.cpp
  core/test/reduce_logical_test.cpp
  core/test/reduce_various_test.cpp
  core/test/subspan_view_test.cpp
  core/test/variable_keyword_args_constructor_test.cpp
  core/test/variable_trigonometry_test.cpp
  core/variable.cpp
  core/variable_operations.cpp
  core/variable_operations_common.h
  core/variable_reduction_operations.cpp
  core/variable_type_conversion.cpp
  core/variable_view.cpp
  python/dataset.cpp
Labels: core

#937 Multi-threading with TBB
  CMakeLists.txt
  conda/meta.yaml
  core/CMakeLists.txt
  core/groupby.cpp
  core/include/scipp/core/element_array.h
  core/include/scipp/core/parallel-fallback.h
  core/include/scipp/core/parallel-tbb.h
  core/include/scipp/core/transform.h
  core/include/scipp/core/view_index.h
  core/variable_operations_common.h
  core/variable_reduction_operations.cpp
Labels: core

#942 Add support for removing variances
  core/include/scipp/core/dataset.h
  core/include/scipp/core/variable.h
  core/include/scipp/core/variable.tcc
  core/test/dataset_test.cpp
  core/test/sparse_data_operations_consistency_test.cpp
  core/test/variable_keyword_args_constructor_test.cpp
  core/test/variable_test.cpp
  core/variable.cpp
  core/variable_instantiate_basic.cpp
  python/bind_data_access.h
  python/tests/test_dataset.py
  python/tests/test_variable.py
Labels: core, python

#946 Fix broken osx build
  benchmark/dataset_operations_benchmark.cpp
  core/test/dataset_binary_arithmetic_test.cpp
  core/test/dataset_operations_test.cpp
  core/test/dataset_test_common.cpp
  core/test/dataset_test_common.h
Labels: bug

#944 Avoid pessimizing reserve for 5x speedup of groupby with bins.
  core/variable_reduction_operations.cpp
Labels: core

#950 Pythreejs instrument view
  python/src/scipp/neutron/instrument_view.py
  python/src/scipp/plot/dispatch.py
  python/src/scipp/plot/plot.py
  python/src/scipp/plot/plot_1d.py
  python/src/scipp/plot/plot_2d.py
  python/src/scipp/plot/plot_3d.py
  python/src/scipp/plot/plot_sparse.py
  python/src/scipp/plot/render.py
Labels: neutron, visualization

#958 Enable TBB in Conda package
  conda/meta.yaml
Labels: core

#959 cmake-format
  .azure-pipelines/master.yml
  .azure-pipelines/pull_request.yml
  .azure-pipelines/templates/code_quality_checks.yml
  .cmake-format.json
  CMake/Eigen.cmake
  CMake/GTest.cmake
  CMake/GoogleBenchmark.cmake
  CMake/boost.cmake
  CMake/pybind11.cmake
  CMakeLists.txt
  benchmark/CMakeLists.txt
  common/CMakeLists.txt
  common/include/scipp/common/span/CMakeLists.txt
  common/include/scipp/common/span/test/CMakeLists.txt
  common/test/CMakeLists.txt
  core/CMakeLists.txt
  core/test/CMakeLists.txt
  neutron/CMakeLists.txt
  neutron/test/CMakeLists.txt
  python/CMakeLists.txt
  units/CMakeLists.txt
  units/test/CMakeLists.txt
Labels: CI

#961 Tidy static analysis jobs
  .azure-pipelines/master.yml
  .azure-pipelines/pull_request.yml
  .azure-pipelines/templates/code_quality_checks.yml
  .travis/check_clang_format.sh
  .travis/check_flake8.sh
  benchmark/legacy_cow_ptr.h
  docs/conf.py
Labels: CI

#962 Developer documentation
  README.md
  docs/developer/api.rst
  docs/developer/constructing_variables.rst
  docs/developer/customizing.rst
  docs/developer/getting-started.rst
  docs/developer/tooling.rst
  docs/developer/transform.rst
  docs/index.rst
Labels: docs

#964 Improve the "unit" aspect in unit tests of sqrt
  core/element_unary_operations.h
  core/include/scipp/core/value_and_variance.h
  core/test/CMakeLists.txt
  core/test/element_unary_operations_test.cpp
  core/test/variable_operations_test.cpp
  core/variable_operations.cpp
Labels: core, tests

#966 Support string-based dimension labels
  core/test/slice_test.cpp
  python/tests/test_dim.py
  python/units_neutron.cpp
  units/CMakeLists.txt
  units/dim.cpp
  units/include/scipp/units/dim.h
  units/include/scipp/units/dimension.h
  units/include/scipp/units/unit.h
  units/test/CMakeLists.txt
  units/test/dim_test.cpp
  units/test/dimension_test.cpp
Labels: core, python

#967 Tidy Conda package and try to improve build time
  conda/build.sh
Labels: CI

#969 Strings as coord keys
  core/dataset.cpp
  core/dataset_operations.cpp
  core/dataset_operations_common.h
  core/dimensions.cpp
  core/include/scipp/core/view_decl.h
  python/variable.cpp
Labels: core, python

#970 Dim label cleanup and switch to new names
  core/test/variable_operations_test.cpp
  core/test/variable_test.cpp
  python/tests/table_html/common.py
  python/tests/table_html/test_to_html_dataset.py
  python/tests/test_dim.py
  units/dim.cpp
  units/dummy.cpp
  units/include/scipp/units/dim.h
  units/include/scipp/units/dimension.h
  units/neutron.cpp
  units/test/CMakeLists.txt
  units/test/dim_test.cpp
  units/test/dimension_test.cpp
Labels: core

#971 Dim label cleanup part 2
  units/dim.cpp
  units/include/scipp/units/dim.h
  units/test/dim_test.cpp
Labels: core

#973 Documentation build on CI
  .azure-pipelines/master.yml
  .azure-pipelines/pull_request.yml
  .azure-pipelines/templates/documentation_build.yml
  .azure-pipelines/templates/documentation_deploy.yml
  README.md
  docs/environment.yml
  docs/visualization/customizing-figures.ipynb
  readthedocs.yml
Labels: CI, docs

#976 Misc CI tidy and fixes
  .azure-pipelines/master.yml
  .azure-pipelines/pull_request.yml
  .azure-pipelines/templates/code_quality_checks.yml
  .azure-pipelines/templates/documentation_build.yml
  .azure-pipelines/templates/documentation_deploy.yml
Labels: CI

#978 Update documentation URLs
  README.md
  conda/meta.yaml
  docs/tutorials/introduction.ipynb
  docs/tutorials/neutron-data.ipynb
  docs/tutorials/neutron-diffraction.ipynb
  docs/visualization/plotting-in-depth.ipynb
  python/src/scipp/compat/mantid.py
Labels: docs

#981 Docs versioning
  .azure-pipelines/templates/documentation_deploy.yml
  docs/Doxyfile
  docs/conf.py
  docs/developer/api.rst
  docs/developer/constructing_variables.rst
  docs/environment.yml
Labels: CI, docs

#984 Update developer docs and remove old Python dependecy file
  docs/developer/getting-started.rst
  docs/developer/tooling.rst
  python/requirements.txt
Labels: docs, python

#985 Move Variable abs() to element wise operators
  core/element_unary_operations.h
  core/test/element_unary_operations_test.cpp
  core/test/variable_operations_test.cpp
  core/variable_operations.cpp
Labels: core, tests

#990 Add deployment pipeline
  .azure-pipelines/release.yml
  .azure-pipelines/templates/documentation_build.yml
  .azure-pipelines/templates/documentation_deploy.yml
Labels: CI

#989 Move trig functions to element based operators
  core/element_unary_operations.h
  core/test/element_unary_operations_test.cpp
  core/test/variable_trigonometry_test.cpp
  core/trigonometry.cpp
Labels: core, tests
