Repository scipp/scipp, pull requests merged in 2020-09, with the labels that each got.

#1300 Add decorator for Python profiling
  python/src/scipp/_utils/profile.py
Labels: python

#1309 Convert Mantid Run to native data structures
  .azure-pipelines/templates/code_quality_checks.yml
  python/src/scipp/compat/mantid.py
  python/tests/compat/test_mantid.py
  tools/cppcheck.Dockerfile
Labels: neutron, python

#1318 Load events to buckets
  python/tests/nexus_helpers.py
  python/tests/test_buckets.py
Labels: python

#1319 Added mm unit
  python/src/scipp/compat/mantid.py
  python/units_neutron.cpp
  units/include/scipp/units/unit.h
Labels: neutron

#1316 Bind slicing by value to DataArray
  dataset/include/scipp/dataset/slice.h
  dataset/slice.cpp
  python/bind_slice_methods.h
  python/tests/test_slicebyvalue.py
Labels: python

#1327 Pin traitlets version to work around pythreejs rendering issue
  python/src/scipp/show.py
  python/src/scipp/table_html/formatting_html.py
  python/src/scipp/table_html/style.css
  python/tests/table_html/test_to_html_dataarray.py
  scipp-developer-no-mantid.yml
  scipp-developer.yml
Labels: CI, docs

#1329 Fix rebin of masks for outer dim with a single output bin
  variable/rebin.cpp
  variable/test/rebin_test.cpp
Labels: bug
