Repository scipp/scipp, pull requests merged in 2020-10, with the labels that each got.

#1340 Fix LLVM install on CI
  .azure-pipelines/templates/code_quality_checks.yml
Labels: CI

#1324 Rewrite plotting
  docs/about/release-notes.rst
  docs/scipp-neutron/instrument-view.ipynb
  docs/visualization/customizing-figures.ipynb
  docs/visualization/plotting-1d-data.ipynb
  docs/visualization/plotting-2d-data.ipynb
  docs/visualization/plotting-nd-data.ipynb
  docs/visualization/plotting-overview.ipynb
  python/src/scipp/_utils/__init__.py
  python/src/scipp/_utils/colors.py
  python/src/scipp/neutron/instrument_view.py
  python/src/scipp/plot/__init__.py
  python/src/scipp/plot/controller.py
  python/src/scipp/plot/controller1d.py
  python/src/scipp/plot/controller2d.py
  python/src/scipp/plot/controller3d.py
  python/src/scipp/plot/dispatch.py
  python/src/scipp/plot/figure.py
  python/src/scipp/plot/figure1d.py
  python/src/scipp/plot/figure2d.py
  python/src/scipp/plot/figure3d.py
  python/src/scipp/plot/model.py
  python/src/scipp/plot/model1d.py
  python/src/scipp/plot/model2d.py
  python/src/scipp/plot/model3d.py
  python/src/scipp/plot/panel.py
  python/src/scipp/plot/panel1d.py
  python/src/scipp/plot/panel3d.py
  python/src/scipp/plot/plot.py
  python/src/scipp/plot/plot1d.py
  python/src/scipp/plot/plot2d.py
  python/src/scipp/plot/plot3d.py
  python/src/scipp/plot/plot_1d.py
  python/src/scipp/plot/plot_2d.py
  python/src/scipp/plot/plot_3d.py
  python/src/scipp/plot/profile.py
  python/src/scipp/plot/render.py
  python/src/scipp/plot/sciplot.py
  python/src/scipp/plot/slicer.py
  python/src/scipp/plot/tools.py
  python/src/scipp/plot/view.py
  python/src/scipp/plot/view1d.py
  python/src/scipp/plot/view2d.py
  python/src/scipp/plot/view3d.py
  python/src/scipp/plot/widgets.py
  python/src/scipp/runtime_config.py
  python/src/scipp/show.py
  python/tests/neutron/test_neutron.py
  python/tests/plot/test_plot_1d.py
  python/tests/plot/test_plot_2d.py
  python/tests/plot/test_plot_3d.py
  python/tests/plot/test_plot_nd.py
  scipp-developer-no-mantid.yml
  scipp-developer.yml
Labels: visualization

#1348 Add memory size indicator to html display
  dataset/CMakeLists.txt
  dataset/include/scipp/dataset/util.h
  dataset/test/CMakeLists.txt
  dataset/test/size_of_test.cpp
  dataset/util.cpp
  python/dataset.cpp
  python/src/scipp/table_html/formatting_html.py
  python/tests/table_html/common.py
  python/tests/table_html/test_to_html_variable.py
  python/variable.cpp
  variable/include/scipp/variable/bucket_model.h
  variable/include/scipp/variable/data_model.h
  variable/include/scipp/variable/variable_concept.h
Labels: visualization

#1358 Document new plotting
  docs/developer/adr/0003-refactor-plotting-code-with-mvc-pattern.rst
  docs/developer/adr/0004-use-ipympl-backend-for-matplotlib.rst
  docs/images/plotting-1d-keep-event.png
  docs/images/plotting-1d-pick-event.png
  docs/images/plotting-1d-slider-event.png
  docs/images/plotting-2d-slider-event.png
  docs/python-reference/api.rst
  python/src/scipp/plot/__init__.py
  python/src/scipp/plot/controller.py
  python/src/scipp/plot/controller1d.py
  python/src/scipp/plot/controller2d.py
  python/src/scipp/plot/controller3d.py
  python/src/scipp/plot/dispatch.py
  python/src/scipp/plot/figure.py
  python/src/scipp/plot/figure1d.py
  python/src/scipp/plot/figure2d.py
  python/src/scipp/plot/figure3d.py
  python/src/scipp/plot/model.py
  python/src/scipp/plot/model1d.py
  python/src/scipp/plot/model2d.py
  python/src/scipp/plot/model3d.py
  python/src/scipp/plot/panel.py
  python/src/scipp/plot/panel1d.py
  python/src/scipp/plot/panel3d.py
  python/src/scipp/plot/plot.py
  python/src/scipp/plot/plot1d.py
  python/src/scipp/plot/plot2d.py
  python/src/scipp/plot/plot3d.py
  python/src/scipp/plot/profile.py
  python/src/scipp/plot/sciplot.py
  python/src/scipp/plot/tools.py
  python/src/scipp/plot/view.py
  python/src/scipp/plot/view1d.py
  python/src/scipp/plot/view2d.py
  python/src/scipp/plot/view3d.py
  python/src/scipp/plot/widgets.py
  python/tests/plot/test_plot_1d.py
Labels: docs, visualization
