Repository scipp/scipp, pull requests merged in 2020-01, with the labels that each got.

#793 Fix concatenate for sparse arrays with no data.
  core/dataset_operations.cpp
  core/test/concatenate_test.cpp
Labels: bug, core

#797 Supprort out argument for Variable::abs
  core/include/scipp/core/variable.h
  core/test/variable_operations_test.cpp
  core/variable_operations.cpp
  python/tests/test_variable.py
  python/variable.cpp
Labels: core, python

#805 Remove vector alias
  core/CMakeLists.txt
  core/include/scipp/core/dataset.h
  core/include/scipp/core/variable.h
  core/include/scipp/core/variable.tcc
  core/include/scipp/core/variable_keyword_arg_constructor.h
  core/include/scipp/core/variable_view.h
  core/include/scipp/core/vector.h
  core/test/dataset_test.cpp
  core/test/sparse_data_operations_consistency_test.cpp
  core/test/variable_keyword_args_constructor_test.cpp
  core/test/variable_test.cpp
  neutron/test/example_instrument_test.cpp
  python/bind_data_access.h
Labels: core

#804 Neutron docs improvements
  docs/scipp-neutron/from-mantid-to-scipp.ipynb
  docs/user-guide/computation.ipynb
Labels: docs

#806 Variable copy assignment performance
  benchmark/variable_benchmark.cpp
  core/include/scipp/core/variable.h
Labels: core

#794 Instrument view
  docs/images/neutron/instrument_view_3d.png
  docs/images/neutron/instrument_view_CNCS.png
  docs/images/neutron/instrument_view_GEM.png
  docs/images/neutron/instrument_view_cyl.png
  docs/images/neutron/instrument_view_sphe.png
  docs/index.rst
  docs/scipp-neutron/instrument-view.ipynb
  docs/visualization/plotting-in-depth.ipynb
  python/src/scipp/neutron/__init__.py
  python/src/scipp/neutron/instrument_view.py
  python/src/scipp/plot/__init__.py
  python/src/scipp/plot/dispatch.py
  python/src/scipp/plot/plot.py
  python/src/scipp/plot/plot_1d.py
  python/src/scipp/plot/plot_2d.py
  python/src/scipp/plot/plot_3d.py
  python/src/scipp/plot/plot_sparse.py
  python/src/scipp/plot/render.py
  python/src/scipp/plot/slicer.py
  python/src/scipp/plot/sparse.py
  python/src/scipp/plot/tools.py
  python/tests/test_neutron.py
Labels: python, visualization

#820 Fix and extend neutron::convert benchmarks.
  benchmark/neutron_convert_benchmark.cpp
Labels: neutron

#824 Self assignment improvements
  core/dataset.cpp
  core/include/scipp/core/variable.h
  core/include/scipp/core/variable.tcc
  core/include/scipp/core/variable_view.h
  core/test/CMakeLists.txt
  core/test/self_assignment_test.cpp
  core/test/variable_concept_test.cpp
  core/variable.cpp
  python/bind_slice_methods.h
  python/dataset.cpp
  python/tests/test_setitem.py
Labels: core, python

#818 Support out arguments in Variable::reciprocal
  core/include/scipp/core/variable.h
  core/test/variable_operations_test.cpp
  core/variable_binary_arithmetic.cpp
  core/variable_operations.cpp
  python/tests/test_variable.py
  python/variable.cpp
Labels: core

#834 neutron.convert with out arg
  python/neutron.cpp
  python/tests/test_neutron.py
Labels: neutron, python

#826 Avoid pessimizing move
  core/include/scipp/core/transform_subspan.h
Labels: core

#827 Separated Monitors
  .style.yapf
  core/include/scipp/core/dataset.h
  core/test/attributes_test.cpp
  python/dataset.cpp
  python/src/scipp/compat/mantid.py
  python/tests/compat/test_mantid.py
  python/tests/test_dataset.py
Labels: neutron

#835 Instructions on how to ask questions about using scipp
  README.md
  docs/getting-started/faq.rst
  docs/images/question.png
  docs/index.rst
  docs/scipp-neutron/instrument-view.ipynb
Labels: docs

#833 Avoid warnings about unused for loop variable in benchmarks
  benchmark/transform_benchmark.cpp
Labels: benchmarks

#831 Non-const overloads for scipp.neutron positions functions
  neutron/beamline.cpp
  neutron/include/scipp/neutron/beamline.h
  python/neutron.cpp
  python/src/scipp/neutron/instrument_view.py
Labels: neutron, python

#838 Fix monitor attribute information after split.
  python/src/scipp/compat/mantid.py
  python/tests/compat/test_mantid.py
Labels: bug, neutron

#828 Avoid additional copy in Python DataArray constructor.
  python/dataset.cpp
Labels: bug, python

#829 Remove clang warnings
  core/test/coords_proxy_test.cpp
  core/test/data_proxy_test.cpp
  core/test/dataset_binary_arithmetic_test.cpp
  core/test/dataset_operations_test.cpp
  core/test/dataset_proxy_test.cpp
  core/test/slice_test.cpp
  core/test/transform_test.cpp
  core/test/value_and_variance_test.cpp
  core/test/variable_operations_test.cpp
  core/test/variable_scalar_accessors_test.cpp
  core/test/variable_test.cpp
  test/fix_typed_test_suite_warnings.h
  test/test_macros.h
Labels: tests

#825 Support out arguments in Variable trigonometery operations
  benchmark/variable_benchmark.cpp
  core/include/scipp/core/variable.h
  core/test/variable_trigonometry_test.cpp
  core/trigonometry.cpp
  python/tests/test_variable.py
  python/variable.cpp
Labels: core, python

#842 Data array unit conversion fix
  core/dataset.cpp
  core/test/dataset_test.cpp
  neutron/convert.cpp
  neutron/include/scipp/neutron/convert.h
Labels: bug, core, neutron

#839 Adds Variable::reciprocal Python export to docs
  docs/python-reference/api.rst
Labels: docs

#837 Detector IDs to Int32
  python/src/scipp/compat/mantid.py
  python/src/scipp/neutron/diffraction/load.py
Labels: bug, neutron

#845 Monitor cleanup
  python/src/scipp/compat/mantid.py
Labels: neutron

#849 Fix `flatten` handling of coords
  core/dataset_operations_common.h
  core/test/groupby_test.cpp
  core/test/sparse_data_operations_consistency_test.cpp
Labels: bug, core

#850 Fix absent monitor workspace
  python/src/scipp/compat/mantid.py
Labels: bug, neutron

#857 Add YAPF testing to Travis builds
  .travis.yml
  .travis/before_install.sh
  python/setup.py
  python/src/scipp/config.py
  python/src/scipp/neutron/diffraction/load.py
  python/src/scipp/neutron/exceptions.py
  python/src/scipp/neutron/instrument_view.py
  python/src/scipp/plot/__init__.py
  python/src/scipp/plot/dispatch.py
  python/src/scipp/plot/plot.py
  python/src/scipp/plot/plot_1d.py
  python/src/scipp/plot/plot_2d.py
  python/src/scipp/plot/plot_3d.py
  python/src/scipp/plot/plot_collapse.py
  python/src/scipp/plot/plot_sparse.py
  python/src/scipp/plot/render.py
  python/src/scipp/plot/sciplot.py
  python/src/scipp/plot/slicer.py
  python/src/scipp/plot/sparse.py
  python/src/scipp/table.py
  python/src/scipp/table_html/formatting_html.py
  python/tests/compat/mantid_data_helper.py
  python/tests/compat/test_mantid.py
  python/tests/conftest.py
  python/tests/test_dataset.py
  python/tests/test_datasetslice.py
  python/tests/test_plot.py
  python/tests/test_table.py
  python/tests/test_units.py
  python/tests/test_variable.py
  python/tests/test_variable_proxy.py
Labels: python

#858 Add Python export for astype()
  python/tests/test_variable.py
  python/tests/test_variable_proxy.py
  python/variable.cpp
Labels: python

#861 Pins YAPF to latest release
  .travis/before_install.sh
Labels: python

#851 Add support for missing dtypes in helpers for flatten.
  core/variable_operations.cpp
Labels: bug, core

#853 Support out arguments for sum and mean
  core/include/scipp/core/variable.h
  core/test/mean_test.cpp
  core/test/variable_operations_test.cpp
  core/variable_operations.cpp
  python/tests/test_variable.py
  python/variable.cpp
Labels: core, python

#863 Fix showing variables with array of strings
  python/src/scipp/table_html/formatting_html.py
Labels: bug, visualization

#865 Fix convert_with_calibration so it works with sparse DataArray.
  neutron/diffraction/convert_with_calibration.cpp
  neutron/test/CMakeLists.txt
  neutron/test/convert_with_calibration_test.cpp
Labels: bug, dream

#846 Fix bad attribute/label handling in convert.
  neutron/convert.cpp
  neutron/test/convert_test.cpp
Labels: bug, neutron

#868 Add benchmark for `histogram` with values and variances.
  benchmark/histogram_benchmark.cpp
Labels: core

#881 Add missing Python exports for binary ops
  python/tests/test_variable.py
  python/variable.cpp
Labels: python

#880 Dtype fixes
  core/data_array.cpp
  core/rebin.cpp
  core/test/rebin_test.cpp
Labels: bug, core

#877 DataArray operation fixes and additions
  core/data_array.cpp
  core/test/data_array_test.cpp
  core/test/dataset_binary_arithmetic_test.cpp
  core/test/dataset_test_common.cpp
  core/test/dataset_test_common.h
  test/random.h
Labels: bug, core

#882 Rebuild dimensions when replacing existing data item
  benchmark/dataset_benchmark.cpp
  core/dataset.cpp
  core/test/dataset_binary_arithmetic_test.cpp
  core/test/dataset_test.cpp
Labels: core

#883 Include mask in neutron.diffraction.load_calibration.
  core/dataset.cpp
  core/test/dataset_test.cpp
  core/test/dataset_test_common.cpp
  core/test/dataset_test_common.h
  python/src/scipp/neutron/diffraction/load.py
  test/random.h
Labels: dream, neutron

#886 Variable transpose
  core/include/scipp/core/variable.h
  core/include/scipp/core/variable.tcc
  core/test/variable_test.cpp
  core/variable.cpp
Labels: core

#875 Coordinates that survive operation need to match along operation dimension
  core/dataset_operations_common.h
  core/test/sum_test.cpp
Labels: bug, core

#890 Add min and max
  core/dataset_operations.cpp
  core/groupby.cpp
  core/include/scipp/core/groupby.h
  core/include/scipp/core/transform.h
  core/include/scipp/core/transform_common.h
  core/include/scipp/core/value_and_variance.h
  core/include/scipp/core/variable.h
  core/operators.h
  core/test/CMakeLists.txt
  core/test/groupby_test.cpp
  core/test/reduce_sparse_test.cpp
  core/test/reduce_various_test.cpp
  core/variable_operations_common.h
  core/variable_reduction_operations.cpp
  docs/python-reference/api.rst
  python/groupby.cpp
  python/tests/test_variable.py
  python/tests/test_variable_proxy.py
  python/tests/test_variable_reduction.py
  python/variable.cpp
  units/include/scipp/units/neutron.h
Labels: core, dream

#864 Python module configuration file
  .travis/before_install.sh
  .travis/conda_build_and_deploy.sh
  conda/meta.yaml
  python/requirements.txt
  python/src/scipp/__init__.py
  python/src/scipp/config.py
  python/src/scipp/neutron/instrument_view.py
  python/src/scipp/plot/plot_1d.py
  python/src/scipp/plot/plot_2d.py
  python/src/scipp/plot/plot_3d.py
  python/src/scipp/plot/plot_sparse.py
  python/src/scipp/plot/slicer.py
  python/src/scipp/plot/tools.py
  python/src/scipp/runtime_config.py
  python/src/scipp/show.py
  python/src/scipp/table.py
Labels: python

#892 Address `convert_with_calibration` issues
  neutron/diffraction/convert_with_calibration.cpp
  neutron/test/convert_with_calibration_test.cpp
  python/neutron.cpp
  python/tests/neutron/diffraction/test_diffraction.py
  python/tests/neutron/test_neutron.py
Labels: core, python

#897 Document the configuration file
  docs/index.rst
  docs/python-reference/runtime-configuration.rst
  python/src/scipp/__init__.py
Labels: docs, python

#894 Avoid copies in __setitem__
  core/data_array.cpp
  core/dataset.cpp
  core/include/scipp/core/dataset.h
  python/CMakeLists.txt
  python/dataset.cpp
  python/detail.cpp
  python/detail.h
  python/scipp.cpp
  python/src/scipp/__init__.py
  python/src/scipp/compat/mantid.py
  python/src/scipp/detail/__init__.py
  python/tests/detail/test_move.py
  python/tests/plot/test_plot.py
Labels: python

#898 In place operation for convert_with_calibration
  python/neutron.cpp
  python/tests/neutron/diffraction/test_diffraction.py
Labels: neutron

#901 Fix plotting of 2D data with one dimension on length 1
  python/src/scipp/plot/plot_2d.py
  python/tests/plot/test_plot.py
Labels: visualization

#900 Groupby benchmark
  benchmark/groupby_benchmark.cpp
  core/include/scipp/core/slice.h
  core/include/scipp/core/variable.h
  core/slice.cpp
Labels: core

#902 Fix plot of sparse data with on-the-fly histogram shows only one dataset entry
  python/src/scipp/plot/dispatch.py
  python/src/scipp/plot/plot_1d.py
  python/src/scipp/plot/plot_2d.py
  python/src/scipp/plot/plot_3d.py
  python/src/scipp/plot/slicer.py
  python/tests/plot/test_plot.py
Labels: python, visualization

#903 Remove columns from cal table that interfere with groupby.mean
  neutron/diffraction/convert_with_calibration.cpp
Labels: bug, dream, neutron

#907 Limit rows in table
  python/src/scipp/runtime_config.py
  python/src/scipp/table.py
Labels: bug, visualization

#905 Proxy and iterator refactor
  benchmark/CMakeLists.txt
  benchmark/dataset_benchmark.cpp
  benchmark/slice_benchmark.cpp
  core/counts.cpp
  core/data_array.cpp
  core/dataset.cpp
  core/dataset_binary_arithmetic.cpp
  core/dataset_operations.cpp
  core/dataset_operations_common.h
  core/groupby.cpp
  core/histogram.cpp
  core/include/scipp/core/dataset.h
  core/include/scipp/core/variable.h
  core/string.cpp
  core/test/attributes_test.cpp
  core/test/data_array_comparison_test.cpp
  core/test/dataset_binary_arithmetic_test.cpp
  core/test/dataset_proxy_test.cpp
  core/test/dataset_test.cpp
  core/test/slice_test.cpp
  docs/user-guide/computation.ipynb
  docs/user-guide/data-structures.ipynb
  neutron/convert.cpp
  neutron/diffraction/convert_with_calibration.cpp
  neutron/test/convert_test.cpp
  neutron/test/convert_with_calibration_test.cpp
  python/bind_slice_methods.h
  python/dataset.cpp
  python/src/scipp/neutron/instrument_view.py
  python/src/scipp/plot/plot.py
  python/src/scipp/show.py
  python/src/scipp/table.py
  python/src/scipp/table_html/formatting_html.py
  python/tests/test_dataset.py
  python/tests/test_iteration.py
  python/tests/test_lifetime.py
Labels: core, python

#912 Powder-diffraction related improvements
  core/groupby.cpp
  core/histogram.cpp
  core/include/scipp/core/groupby.h
  neutron/diffraction/convert_with_calibration.cpp
  python/src/scipp/table.py
  units/include/scipp/units/neutron.h
Labels: core, neutron

#908 Refactor nan_to_num
  core/include/scipp/core/transform.h
  core/include/scipp/core/transform_common.h
  core/test/variable_operations_test.cpp
  core/variable_operations.cpp
Labels: core

#916 Concatenate all coords, labels and masks
  core/dataset_operations.cpp
  core/dimensions.cpp
  core/include/scipp/core/dimensions.h
  core/test/concatenate_test.cpp
Labels: core

#895 Replace nans with custom value
  core/CMakeLists.txt
  core/include/scipp/core/transform.h
  core/include/scipp/core/transform_common.h
  core/include/scipp/core/value_and_variance.h
  core/include/scipp/core/variable.h
  core/test/variable_operations_test.cpp
  core/variable_operations.cpp
  python/tests/test_variable.py
  python/variable.cpp
Labels: core

#920 Sparse - histogram operations fix
  benchmark/CMakeLists.txt
  benchmark/sparse_histogram_op_benchmark.cpp
  core/data_array.cpp
  core/include/scipp/core/transform.h
  core/include/scipp/core/variable.h
  core/test/data_array_test.cpp
Labels: bug, core

#859 Travis to xcode 11.1
  .travis.yml
Labels: CI

#925 Fix broken compat tests
  python/tests/compat/test_mantid.py
Labels: bug

#927 Use variable template for briefer code.
  core/include/scipp/core/transform.h
  core/include/scipp/core/values_and_variances.h
Labels: core

#919 Fix slow table
  python/src/scipp/runtime_config.py
  python/src/scipp/show.py
  python/src/scipp/table.py
  python/src/scipp/utils.py
Labels: visualization

#923 Add reciprocal for DataArray/DataProxy
  core/data_array.cpp
  core/include/scipp/core/dataset.h
  core/test/data_array_test.cpp
  python/dataset.cpp
  python/tests/test_data_array.py
Labels: core, python

#922 Type Trait solution for All or None check on ValueAndVariance
  core/include/scipp/core/transform.h
Labels: core
