Repository scipp/scipp, pull requests merged in 2020-03, with the labels that each got.

#994 Fixes for Mantid converters
  python/src/scipp/compat/mantid.py
  python/tests/compat/test_mantid.py
Labels: bug, neutron

#987 Trivial Python export testing
  core/trigonometry.cpp
  docs/developer/how-to.rst
  docs/index.rst
  python/tests/__init__.py
  python/tests/common.py
  python/tests/test_variable.py
Labels: python, tests

#996 Show masks in instrument view
  python/src/scipp/neutron/instrument_view.py
  python/tests/neutron/test_neutron.py
Labels: neutron, visualization

#1004 Add documentation for setting config keys
  docs/python-reference/runtime-configuration.ipynb
  docs/python-reference/runtime-configuration.rst
  docs/visualization/plotting-in-depth.ipynb
Labels: docs

#1006 Show dimensionless unit in plot axes
  python/src/scipp/utils.py
  python/tests/compat/mantid_data_helper.py
Labels: visualization

#1010 Use ipympl backend when running in JupyterLab
  python/src/scipp/plot/__init__.py
  python/src/scipp/plot/render.py
  python/src/scipp/plot/tools.py
Labels: visualization

#1011 Enable Windows unit tests
  conda/bld.bat
Labels: tests

#1008 Update installation instructions
  docs/getting-started/installation.rst
Labels: docs

#1015 Remove sparseValues in favour of values<event_list<>>
  benchmark/common.h
  benchmark/groupby_benchmark.cpp
  benchmark/histogram_benchmark.cpp
  benchmark/neutron_convert_benchmark.cpp
  benchmark/sparse_histogram_op_benchmark.cpp
  benchmark/transform_benchmark.cpp
  core/include/scipp/core/variable.h
  core/test/coords_view_test.cpp
  core/test/data_array_comparison_test.cpp
  core/test/data_array_test.cpp
  core/test/dataset_binary_arithmetic_test.cpp
  core/test/dataset_comparison_test.cpp
  core/test/dataset_test_common.cpp
  core/test/event_test.cpp
  core/test/groupby_test.cpp
  core/test/histogram_test.cpp
  core/test/make_sparse.h
  core/test/merge_test.cpp
  core/test/reduce_sparse_test.cpp
  core/test/slice_test.cpp
  core/test/sparse_counts_test.cpp
  core/test/sparse_data_operations_consistency_test.cpp
  core/test/transform_sparse_and_dense_test.cpp
  core/test/transform_test.cpp
  core/test/variable_operations_test.cpp
  core/test/variable_test.cpp
  neutron/test/convert_test.cpp
  neutron/test/convert_with_calibration_test.cpp
Labels: core

#1017 Add a script to remove old Conda packages
  tools/README.md
  tools/anaconda_remove_old_dev_packages.sh
Labels: CI

#1013 Add CI test for importability of bare Conda package
  .azure-pipelines/master.yml
  .azure-pipelines/pull_request.yml
  .azure-pipelines/templates/test_can_install_and_import.yml
Labels: CI

#1019 Fix matplotlib backend selection
  python/src/scipp/neutron/instrument_view.py
  python/src/scipp/plot/__init__.py
Labels: visualization

#1021 Fix bug in groupby.flatten if 0-D coords are present
  core/groupby.cpp
  core/test/groupby_test.cpp
Labels: bug, dream

#1020 Add tests for existing transform flags
  core/include/scipp/core/transform.h
  core/test/transform_test.cpp
Labels: core

#1027 Add missing test for /= between event data and histogram
  core/include/scipp/core/comparison.h
  core/test/data_array_test.cpp
Labels: core

#1029 Support unspecified y-units
  python/src/scipp/compat/mantid.py
  python/tests/compat/test_mantid.py
Labels: bug

#1023 DataArray with unaligned content and realign functionality
  common/include/scipp/common/deep_ptr.h
  common/test/CMakeLists.txt
  common/test/deep_ptr_test.cpp
  core/CMakeLists.txt
  core/data_array.cpp
  core/dataset.cpp
  core/dataset_operations.cpp
  core/dataset_operations_common.h
  core/except.cpp
  core/groupby.cpp
  core/histogram.cpp
  core/include/scipp/core/dataset.h
  core/include/scipp/core/except.h
  core/include/scipp/core/groupby.h
  core/include/scipp/core/histogram.h
  core/include/scipp/core/slice.h
  core/include/scipp/core/string.h
  core/include/scipp/core/unaligned.h
  core/include/scipp/core/variable.h
  core/slice.cpp
  core/string.cpp
  core/test/CMakeLists.txt
  core/test/copy_test.cpp
  core/test/data_array_comparison_test.cpp
  core/test/data_array_test.cpp
  core/test/dataset_test.cpp
  core/test/groupby_test.cpp
  core/test/slice_test.cpp
  core/test/unaligned_test.cpp
  core/unaligned.cpp
  python/dataset.cpp
  python/detail.cpp
  python/scipp.cpp
  python/src/scipp/table_html/formatting_html.py
  python/src/scipp/utils.py
  python/tests/test_realign.py
Labels: core

#1031 Flatten fixes
  core/dataset_operations.cpp
  core/groupby.cpp
  core/include/scipp/core/except.h
  core/test/groupby_test.cpp
  core/test/reduce_sparse_test.cpp
Labels: bug, core

#1032 Add Python 3.8 to Windows build
  .azure-pipelines/master.yml
  .azure-pipelines/release.yml
Labels: CI

#1034 Fix histogram so it drops other event coords.
  core/histogram.cpp
  core/test/histogram_test.cpp
Labels: bug, core

#1037 Fix histogram to not drop scalar coords
  core/dataset_operations_common.h
  core/test/histogram_test.cpp
Labels: bug, core

#1030 Realign support for event data
  core/data_array.cpp
  core/dataset.cpp
  core/dataset_access.cpp
  core/dataset_operations.cpp
  core/dataset_operations_common.h
  core/dtype.cpp
  core/event.cpp
  core/groupby.cpp
  core/histogram.cpp
  core/include/scipp/core/dataset.h
  core/include/scipp/core/dataset_access.h
  core/include/scipp/core/dtype.h
  core/include/scipp/core/event.h
  core/include/scipp/core/except.h
  core/include/scipp/core/histogram.h
  core/include/scipp/core/unaligned.h
  core/include/scipp/core/variable.h
  core/include/scipp/core/view_decl.h
  core/test/attributes_test.cpp
  core/test/data_array_comparison_test.cpp
  core/test/data_array_test.cpp
  core/test/data_view_test.cpp
  core/test/dataset_test.cpp
  core/test/dataset_test_common.cpp
  core/test/dataset_test_common.h
  core/test/event_test.cpp
  core/test/groupby_test.cpp
  core/test/histogram_test.cpp
  core/test/sparse_data_operations_consistency_test.cpp
  core/test/transform_test.cpp
  core/test/unaligned_test.cpp
  core/test/variable_test.cpp
  core/unaligned.cpp
  docs/index.rst
  docs/python-reference/api.rst
  docs/tutorials/neutron-diffraction.ipynb
  docs/user-guide/data-structures.ipynb
  docs/user-guide/event-data.ipynb
  docs/user-guide/masking.ipynb
  docs/user-guide/unaligned-data.ipynb
  docs/visualization/representations-and-tables.ipynb
  neutron/convert.cpp
  neutron/diffraction/convert_with_calibration.cpp
  python/bind_data_access.h
  python/dataset.cpp
  python/src/scipp/compat/mantid.py
  python/src/scipp/show.py
  python/tests/compat/test_mantid.py
  python/variable.cpp
Labels: core

#991 Spherical Coordinate Averaging
  python/src/scipp/compat/mantid.py
  python/tests/compat/test_mantid.py
  python/variable.cpp
Labels: neutron
