Repository scipp/scipp, pull requests merged in 2022-10, with the labels that each got.

#2835 Rewrite event-filtering docs
  docs/user-guide/binned-data/filtering.ipynb
  docs/user-guide/binned-data/prepare-filtering-data.py
  docs/user-guide/slicing.ipynb
  src/scipp/core/bins.py
  src/scipp/data/__init__.py
Labels: docs

#2838 Fix bug leading to growing of bin edges by an epsilon in bin/hist/rebin
  docs/about/release-notes.rst
  src/scipp/core/binning.py
  tests/binning_test.py
Labels: bug

#2816 Scipp and the Python ecosystem
  docs/reference/developer/project/scipp-as-cpp-or-python-library.md
Labels: docs

#2834 Use different method to set cbar opacity to 1 after draw_all was deprecated
  src/scipp/plotting/figure2d.py
Labels: visualization

#2850 Add differences to Xarray in FAQ
  docs/getting-started/faq.rst
Labels: docs
