Repository scipp/scipp, pull requests merged in 2022-07, with the labels that each got.

#2680 Fix serious bug in `bin`
  docs/about/release-notes.rst
  lib/core/include/scipp/core/element/map_to_bins.h
  lib/core/test/element_map_to_bins_test.cpp
  lib/dataset/test/bin_test.cpp
Labels: bug

#2684 Fix exception in `bin` with edges along dim other than input dim
  lib/dataset/bin.cpp
  lib/dataset/test/bin_test.cpp
Labels: bug

#2700 [experimental plotting] Fix pick callback for toggling norm on mesh when pick event does not originate from cbar
  src/scipp/experimental/plotting/mesh.py
Labels: experimental plotting

#2702 New docs
  .github/workflows/docs.yml
  .github/workflows/release.yml
  docs/_templates/sections/header-article.html
  docs/_templates/topbar/download.html
  docs/_templates/topbar/launchbuttons.html
  docs/conf.py
  docs/version.py
  requirements/base.txt
  requirements/build.txt
  requirements/ci.in
  requirements/ci.txt
  requirements/docs.in
  requirements/docs.txt
  requirements/extra.txt
  requirements/static.txt
  requirements/test.txt
Labels: docs, CI

#2673 Fix error in new plotting when zooming in and returning to 'Home' with datetime axis
  src/scipp/experimental/plotting/figure.py
  src/scipp/experimental/plotting/limits.py
  src/scipp/experimental/plotting/line.py
Labels: experimental plotting
